$_: kulturkortet-ticket;
.#{$_} {
    --kulturkortet-ticket--padding: calc(var(--base) * 3);
    --kulturkortet-ticket--border-radius: calc(var(--base) * var(--border-radius) * 2);
    width: min(calc(var(--base, 0.5rem) * 50), 100%);
    border-radius: var(--kulturkortet-ticket--border-radius);
    background-color: var(--color--secondary);
    color: var(--color--secondary-contrast);
    padding: var(--kulturkortet-ticket--padding);

    .#{$_}__inner-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: var(--kulturkortet-ticket--border-radius);
        padding: var(--kulturkortet-ticket--padding);
        gap: calc(var(--base) * 4);
        border: calc(var(--base) * var(--border-width) * 2) solid var(--color--secondary-border);
    }

    .#{$_}__remaining-days {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        background-color: var(--color--surface);
        color: var(--color--surface-contrast);
        padding: calc(var(--base) * 2);
    }
    .#{$_}__remaining-days-number {
        font-size: var(--font-size-700);
        line-height: var(--font-size-700);
        font-weight: var(--font-weight-bold);
    }
    
    .#{$_}__remaining-days-label {
        font-size: var(--font-size-100);
        line-height: var(--font-size-100);
    }
}