.main-container>.grid:not(.breadcrumbs-wrapper):not(.no-margin-top):first-child {
    display: block;
    display: flex;
    padding-top: 60px;
    width: 100%;

    @media screen and (max-width: 960px) {
        padding-top: 20px;
    }
}

.sidebar-left-sidebar {
    min-height: 1px;
}

.nav-accessibility {
    margin-top: 8px;

    li + li::before {
        display: none;
    }

    > li + li {
        margin-left: 24px;
    }

    a, span {
        font-size: 14px;
        line-height: 24px;
        font-weight: 200;
        color: $gray-dark;

        &:hover {
            text-decoration: none;
            color: $palette-gray-2;

            // Color theme styles
            @if ($includeThemes == true) {
                @each $theme, $color in $themes {
                    .theme-#{$theme} & {
                        color: map-get($color, secondSafe);
                    }
                }
            }
        }

        .pricon {
            margin-right: 8px;
        }
    }
}

.filter-dropdown {
    padding: 0;
    width: 500px;

    label.checkbox {
        display: block;
    }

    .accordion-box .accordion-section,
    .accordion-boxes .accordion-section,
    .accordion-list .accordion-section {
        border-top: 0;
        border-right: 0;
        border-left: 0;
    }
}

@media #{$screen-below-md} {
    .archive-filters {
        .grid-sm-12 + .grid-sm-12 {
            margin-top: 10px;
        }
    }
}
