.main-container > .grid:not(.breadcrumbs-wrapper):not(.no-margin-top):first-child:before {
    display: block;
    padding-top: 60px;

    @media screen and (max-width: 960px) {
        padding-top: 20px;
    }
}

.sidebar-left-sidebar {
    min-height: 1px;
}
