.main-footer .logotype {
    text-align: left;
    span.h1 {
        color: #fff;
    }
}

.main-footer .icons-list {
    li a {
        font-size: 3em;
    }
}

.hero + .main-footer,
[class^="modularity-mod-section-"] + .main-footer {
    margin-top: 0;
}
