.navbar-mainmenu {
    a:not(.logotype) {
        svg {
            display: inline-block;
            vertical-align: middle;
            fill: #fff;
            width: 35px;
            height: auto;
        }

        svg,
        .fa {
            opacity: .7;
        }

        &:hover {
            svg,
            .fa {
                opacity: 1;
            }
        }
    }
}

.header-casual {
    .navbar-mainmenu {
        padding-top: 15px;
    }

    .nav:not(.nav-center) {
        .menu-item-search,
        .menu-item-translate {
            float: right;
        }
    }
}
