
.main-container > .grid:not(.breadcrumbs-wrapper):not(.no-margin-top):first-child:before {
    content: "";
    position: relative;
    height: 60px;
    display: block;

    @media screen and (max-width: 960px) {
        height: 20px;
    }
}
