.site-header {
    .logotype {
        display: inline-block;
        vertical-align: middle;

        img,svg {
            height: 70px;
            width: auto;
        }

        /*
        &[data-tooltip] {
            &:hover {
                &::after,
                &::before {
                    bottom: 10px;
                    left: 60%;
                }
            }
        }
        */
    }
}

.site-header:not(.header-casual) {
    padding-top: 15px;
}

.hero {
    position: relative;

    .widget {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
    }

    .search {
        @include center();
        z-index: 99;
        width: 30%;
        min-width: 300px;

        label {
            display: inline-block;
            font-weight: 300;
            letter-spacing: 1px;
        }

        input[type="search"] {
            border: none;
        }
    }
}

.nav-help {
    margin-bottom: 5px;
}
