/**
 * HELSINGBORG 2.0
 *
 * All SASS should be written with as low specificity as possible.
 * Follow the guidelines at http://codeguide.co and you will be off to a good start.
 *
 * Keep in mind to organize your attributes in the following order
 * 1. Positioning
 * 2. Box model
 * 3. Typography
 * 4. Visual
 * 5. Misc
 */


/**
 * ## Global
 */
@import '../../../bower_components/foundation/scss/foundation/components/global'; // Foundation globals
@import 'global/config';
@import 'global/colors';
@import 'global/typography';
@import 'global/mixins';
@import 'global/404';

/**
 * ## Foundation dependencies
 * These are required dependencies from Foundation that we use
 */
@import '../../../bower_components/foundation/scss/normalize.scss'; // Foundation normalize
@import '../../../bower_components/foundation/scss/foundation/components/grid'; // Foundation grid system
@import '../../../bower_components/foundation/scss/foundation/components/block-grid'; // Foundation grid system
@import '../../../bower_components/foundation/scss/foundation/components/visibility'; // Foundation visibility
@import '../../../bower_components/foundation/scss/foundation/components/orbit'; // Foundation orbit
@import '../../../bower_components/foundation/scss/foundation/components/flex-video'; // Foundation Flex video

/**
 * ## Partials
 * This is where the most part of our sass/css lives.
 * This is all the different style for all elements on our site.
 */
@import 'partials/base';
@import 'partials/block-grid';
@import 'partials/article';
@import 'partials/alert';
@import 'partials/autocomplete';
@import 'partials/brand';
@import 'partials/site-header';
@import 'partials/nav';
@import 'partials/hero';
@import 'partials/forms';
@import 'partials/btn';
@import 'partials/box';
@import 'partials/typography';
@import 'partials/list';
@import 'partials/index';
@import 'partials/teasers';
@import 'partials/site-footer';
@import 'partials/fun-facts';
@import 'partials/modal';
@import 'partials/breadcrumbs';
@import 'partials/search';
@import 'partials/sidebars';
@import 'partials/pagination';
@import 'partials/table-list';
@import 'partials/utilities';
@import 'partials/multiselect';
@import 'partials/guides';
@import 'partials/mobile-search';
@import 'partials/tooltip';
@import 'partials/table-datatables';
@import 'partials/table';

/**
 * ## Widgets
 * Style of WordPress widgets
 */
@import 'widgets/alarm-widget';
@import 'widgets/event-widget';
@import 'widgets/text-widget';
@import 'widgets/orbit';
@import 'widgets/sp-image';
@import 'widgets/social-feed-widget';
@import 'widgets/image-list';
@import 'widgets/widget-base';
@import 'widgets/help-widget';

/**
 * ## Sections
 * Sections is also partials, really. But to separete them from the partials partials
 * I've moved them to it's own folder.
 */
@import 'sections/featured';
@import 'sections/search';
@import 'sections/news';
@import 'sections/article';

/**
 * ## Print media
 * CSS only for print
 */
@import 'print/global';
@import 'print/grid';
@import 'print/hide';

/**
 * ## Color themes
 * The different color themes available
 */
@import "color-themes/purple";
@import "color-themes/blue";
@import "color-themes/green";