$_: "municipio-ai-chat";

.#{$_} {
    width: min(calc(var(--base) * 40 * 1.5), calc(100vw - var(--base) * 10));
}

.#{$_}__chat {
    contain:paint;
    width: 100%;
    height: 100%;
    grid-template-rows: auto 1fr auto;
    max-height: 100dvh;
    background-color: var(--u-color--color-surface);
    border-radius: calc(var(--border-radius, 1) * var(--base));
    corner-shape: var(--corner-shape);
    border: 1px solid var(--color--surface-border);
}

.#{$_}__feedback {
    display: flex;
    gap: calc(var(--base) * 0.5);
    margin-top: calc(var(--base) * 0.5);
    margin-left: var(--base);

    .#{$_}__feedback-like-button,
    .#{$_}__feedback-dislike-button {
        font-size: calc(var(--base) * 2.5);
        cursor: pointer;
        color: var(--c-chat--color--surface-contrast-muted);
        align-items: center;
        justify-content: center;
        min-height: calc(var(--base) * 3);
        min-width: calc(var(--base) * 3);
        background-color: transparent;
        border: 1px solid transparent;
    }
}