/*
!screenshot.png
!style.css
!.gitignore
!/dist
!/dist/**
!/source/php
!/source/php/**
!views/
!views/**
!views/v3/
!views/v3/**
!/assets
!/assets/**
!/languages
!/languages/**
!/composer.json
!/functions.php
!/library
!/library/**
!/index.php
!/Modularity
Modularity/*
!/Modularity/source
!/Modularity/source/**
!/Modularity/assets/
!/Modularity/assets/**
!/Modularity/modularity.php
!/Modularity/Public.php
!/Modularity/templates
!/Modularity/templates/**
