/*
!.gitignore
!/dist
!/dist/**
!/source/php
!/source/php/**
!/assets
!/assets/**
!/languages
!/languages/**
!/composer.json
!/functions.php
!/library
!/library/**
!/index.php
!/Modularity
Modularity/*
!/Modularity/source
!/Modularity/source/**
!/Modularity/modularity.php
!/Modularity/Public.php
!/Modularity/templates
!/Modularity/templates/**
!/Modularity/modularity-custom-module-example/
!/Modularity/modularity-custom-module-example/**
