<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="default">
			<directory suffix=".Test.php">./library/</directory>
		</testsuite>
	</testsuites>

	<coverage>
        <include>
            <directory suffix=".php">./library/</directory>
        </include>
		<exclude>
    		<directory suffix=".Test.php">./library/</directory>
		</exclude>
    </coverage>
</phpunit>
