<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="./tests/bootstrap.php"
         backupGlobals="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">

  <coverage processUncoveredFiles="false">
    <include>
      <directory suffix=".php">./library</directory>
    </include>
    <exclude>
      <directory suffix=".php">./library/AcfFields</directory>
    </exclude>
    <report>
      <text outputFile="php://stdout" showUncoveredFiles="true"/>
      <html outputDirectory=".coverage/phpunit"/>
      <clover outputFile=".coverage/phpunit/clover.xml"/>
    </report>
  </coverage>

  <testsuites>
    <testsuite name="Theme Test Suite">
      <directory suffix="Test.php">./library</directory>
    </testsuite>
  </testsuites>
</phpunit>
