progress {
    border: none;
    border-radius: 3px;
    background-color: #f3f3f3;
    margin-right: 8px;
    min-width: 192px;
}

::-webkit-progress-bar {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    border: none;
}

::-webkit-progress-value {
    background-color: #2271b1;
    border-radius: 3px;
    transition: width 1s;
}

label {
    font-style: italic;
}