// Red color scheme
$palette-red-1: #f7a600;
$palette-red-2: #cb0050;
$palette-red-3: #ec6701;
$palette-red-4: #ae0b05;
$palette-red-5: #e3000f;

// Creamy color
$creamy: #f6f5f2;
$creamy-darker: #e7e5e1;

// Text color
$text-default: #252525;
$text-gray-dark: #464646;
$text-gray: #979797;
$text-gray-light: #7f7f7f;

// Article link state colors
$link-a: #005c86;
$link-a-hover: #ae0b05;
$link-a-visited: #7b075e;

// Alert colors
$alert-info: #b1f5ff;
$alert-warning: yellow;

// Focus
$focus-color: #0095db;