@import "http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic";
@import "http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";

// Base font (set on <html>)
$base-font-family: 'Roboto', 'Helvetica', 'Arial';
$base-font-size: 17px;

// Alert
$alert-font-size: 1.1rem;
$alert-icon-font-size: 1.3rem;

// Article
$article-ingress-font-size: 1.15rem;
$article-accessibility-font-size: .95rem;

// Autocomplete
$autocomplete-font-size: .75rem;
$autocomplete-title-font-size: .85rem;

// Box Share
$box-share-title-font-size: 1rem;
$box-share-url-font-size: .75rem;

// Breadcrumbs
$breadcrumbs-font-size: .85rem;

// Forms
$input-font-size: .95rem;
$input-help-font-size: .8rem;

$datepicker-title-font-size: .7rem;
$zselect-font-size: .7rem;

// Fun facts
$fun-facts-title-font-size: 1.9rem;
$fun-facts-caption-font-size: .9rem;

// Index
$index-description-font-size: .85rem;
$index-horizontal-description-font-size: .75rem;

// List
$list-label-font-size: .85rem;
$list-date-font-size: .7rem;

$list-featured-lead-font-size: .85rem;
$list-featured-link-item-font-size: .85rem;

$list-links-print-font-size: .85rem;
$list-links-print-after-font-size: .7rem;

$list-events-date-font-size: .8rem;
$list-events-sidebar-date-font-size: .85rem;

$list-news-font-size: .85rem;
$list-news-title-font-size: 1.25rem;
$list-news-date-font-size: .8rem;

$list-more-font-size: .95rem;
$list-more-icon-font-size: .85rem;

// Mobile search
$mobile-search-web-archive-font-size: .85rem;

// Nav
$mobile-menu-button-font-size: 1.55rem;
$navbar-nav-font-size: 1.1rem;

$navbar-mainmenu-mobile-font-size: .9rem;

$navbar-topmenu-font-size: .85rem;
$navbar-topmenu-help-font-size: .85rem;

$navbar-aside-font-size: .95rem;
$navbar-aside-icon-font-size: .9em;

// Pagination
$pagination-font-size: .85em;

// Search
$search-sidebar-web-archive-font-size: .85rem;

$search-topmenu-icon-font-size: .8rem;
$search-topmenu-submit-font-size: .85rem;
$search-topmenu-web-archive-font-size: .8rem;
$search-topmenu-input-font-size: .95rem;

$search-hero-label-font-size: 1rem;
$search-hero-input-font-size: 1.2rem;
$search-hero-web-archive-font-size: .85rem;

// Footer
$footer-base-font-size: .85rem;

// Tables
$table-length-font-size: .85rem;
$table-thead-font-size: .85rem;
$table-tbody-font-size: .85rem;

// Tooltip
$tooltip-font-size: .9rem;

// Utilities
$text-lg-font-size: 2.2rem;
$hbg-loading-font-size: .8rem;

