/**
 * Intranet site settings style
 */
th.intranet-settings-wrapper {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 0;
    font-weight: normal;

    .intranet-settings-title {
        display: block;
        padding: 10px 15px;
        border-bottom: 1px solid #ddd;
    }

    p {
        padding: 15px;
    }

    p + p {
        border-top: 1px solid #ddd;
    }

    label {
        font-weight: bold;
    }

    .checkbox label {
        font-weight: normal;
    }
}

.edit-visibility {
    display: none;
}

#misc-publishing-actions {
    #post-visibility-select {
        display: block !important;

        p:last-child {
            display: none;
        }
    }
}

.tag-manager-tag {
    background-color: #FAFAFA;
    border: 1px solid #E5E5E5;
    padding:10px 15px;
    margin-top: 5px;

    &:first-child {
        margin-top: 10px;
    }
}

.tag-manager-actions {
    float: right;
}

.tag-manager-delete-tag,
.municipio-delete {
    color: #C80409;
    text-decoration: none;
}

.municipio-edit {
    color: #af8906;
    text-decoration: none;
}

.target-group-restrict-checkbox {
    display: inline-block;
    width: 25%;
    padding: 5px;
}

.btn-plain {
    apperance: none;
    border: 0;
    background: transparent;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

label[for="intranet_news_is_sticky"] input[type="checkbox"] {
    position: relative;
    top: 1px;
}

.mce-i-fa-users::before {
    font-family: 'FontAwesome';
    content: '\f0c0';
    position: relative;
    top: -2px;
}

.ip-patterns {
    .tag-manager-tag {
        padding: 7px 8px;
    }
}

@media screen and (max-width: 787px) {
    .system-hidden {
        display: none;
    }
}

@media screen and (min-width: 852px) and (max-width: 1040px) {
    .system-hidden {
        display: none;
    }
}
