.error404 span.h1 {
    color: #fff !important;
}

.easter-egg div {
    position: relative;
    transition: 100ms transform ease-in-out;
    transform-origin: 0 50%;

    &:hover {
        transform: scale(1.5, 1);
    }
}

.easter-egg .stripe-instruments {
    position: absolute;
    top: 50%;
    left: 100%;
    width: auto;
    white-space: nowrap;
    background-color: #000;
    padding: 5px;
    border-radius: 0 50px 50px 0;
    transform: translateY(-50%) translateX(-150%);
    transition: 1s transform;
    z-index: -1;

    &.show {
        transform: translateY(-50%) translateX(0%);
    }

    li {
        display: inline-block;

        & + li {
            margin-left: 5px;
        }
    }

    button {
        position: relative;
        width: 50px;
        height: 50px;
        border: none;
        background-color: #fff;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;

        &:hover {
            background-color: #ddd;
        }

        &.active {
            background-color: #ff0000;
            animation: 2000ms disco infinite;

            img {
                filter: invert(100%);
            }
        }

        img {
            @include center();
            width: 60%;
            height: auto;
        }

        span {
            display: none;
        }
    }
}

@keyframes disco {
    10% {
        background-color: #ff0000;
    }

    30% {
        background-color: #00fff0;
    }

    50% {
        background-color: #2aff00;
    }

    70% {
        background-color: #ff00d2;
    }

    90% {
        background-color: #ff0000;
    }
}
