@media print {

    @page {
        margin: 1cm 1cm 1cm 1cm;
    }

    a[href]:after {
        display: none;
        content: " (" attr(href) ")";
        font-size: 10pt;
        font-weight: normal;
    }

    a[href="#"]:after {
        display: none;
    }

    .print-only {
        display: block;
    }

    .vngage-banner {
        display: none !important;
    }

}

.print-only {
    display: none;
}

.print-hidden {
    @media print {
        display: none !important;
    }
}