.modularity-form-group {
    padding: 10px;
}

#modularity-options #publishing-action .spinner:not(:empty) {
    visibility: visible !important;
    min-width: 20px;
    padding-left: 25px;
    width: auto;
}

.inlay-list-url-helper {
    font-style: italic;
    font-size:11px;
    word-wrap: break-word;
}
.margin-bottom-20 {
    margin-bottom:20px !important;
}

