body.modularity-loader-takeover::before {
    overflow: hidden;
    display: block;
    content: '';
    position: fixed;
    z-index: $level-top;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(#fff, .8);
}

body.modularity-loader-takeover::after {
    $size: 100px;
    display: block;
    content: '';
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: calc($size / 2) * -1;
    margin-left: calc($size / 2) * -1;
    z-index: $level-top;
    background-color: #DF8EAE;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: 1000ms loading-ball ease-in-out infinite;
}

@keyframes loading-ball {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(.2);
    }
}
