$base: var(--base, 8px);

.modularity-mod-map {
    &__button {
        position: absolute !important;
        right: calc(var(--sizing-base, 8px) * 3);
        bottom: calc(var(--sizing-base, 8px) * 3);
        width: unset !important;
    }
}

.modularity-map-container {
    &__map {
        display: flex;
        flex-direction: column;

        .c-card__paint-container {
            .c-card__header {
                flex: 0 1 auto;
            }

            .c-card__body {
                padding: 0;
                flex: 1 1 auto;
            }

            iframe {
                height: 100%;
            }
        }
    }
}

.s-footer {
    .modularity-map-container {
        &__map-box {
            padding-right: calc(#{$base} * 4);
        }

        &__more-info {
            padding-left: 0;
            margin-left: -4px;
            padding-right: calc(#{$base} * 1.5);
        }
    }
}
