/* Description: File containing css for the right hand side menu */

$base: var(--base, 8px);

$module-line-height: 48px;

.modularity-modules {
    position: relative;
    overflow: auto;
    text-align: center;
    margin: -12px;
    margin-top: -6px;
    padding: 12px;
}

.modularity-module + .modularity-module {
    margin-top: 12px;
}

.modularity-module {
    margin-bottom: 0;
    width: 100%;
    background-color: #FAFAFA;
    border: 1px solid #E5E5E5;
    padding: 0;
    height: 48px;
    position: relative;
    box-sizing: border-box;
    counter-increment: int;
    border-radius: 3px;
    filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.05));
    display: flex;
    gap: 16px;
    text-align: left;

    transition: 100ms background ease;

    &:hover {
        background-color: #eee;
    }

    &.ui-draggable-dragging {
        background-color: #fff;
        width: 250px !important;
        min-width: 250px !important;
        transform: rotate(-4deg);
        box-shadow: 0 0 20px rgba(#000, .2);
    }
}

li.modularity-module {
    line-height: auto;

    >span {
        line-height: auto;
    }
}

.modularity-modules .modularity-module-name,
.ui-draggable-dragging .modularity-module-name {
    display: block;
    font-weight: normal;
    font-size: 10pt;
    line-height: $module-line-height;
    font-weight: bold;
}

.modularity-module-icon {
    background: #00000005;
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    margin-bottom: 3px;
    text-align: center;
    float: left;
    width: $module-line-height;
    height: $module-line-height;
    border-right: 1px solid #E5E5E5;

    svg,
    img {
        transition: transform 200ms ease;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 24px;
        max-height: 24px;
        height: 100%;
        width: auto;
    }

    svg,
    svg * {
        fill: #4D4D4D !important;
    }
}

.modularity-module:hover .modularity-module-icon svg,
.modularity-module:hover .modularity-module-icon img {
    transform: translate(-50%, -50%) rotate(-10deg);
    fill: #000 !important;
}

.modularity-mod-map {
    &__button {
        position: absolute !important;
        right: calc(var(--sizing-base, 8px) * 3);
        bottom: calc(var(--sizing-base, 8px) * 3);
    }
}

.modularity-mod-contacts {
    .c-card .c-card__image-background {
        background-image: url('../images/profile.svg');
        background-position: center;
    }
}

.modularity-map-container {
    &__map {
        display: flex;
        flex-direction: column;

        .c-card__header {
            flex: 0 1 auto;
        }

        .c-card__body {
            padding: 0;
            flex: 1 1 auto;
        }

        iframe {
            height: 100%;
        }
    }
}

.s-footer {
    .modularity-map-container {
        &__map-box {
            padding-right: calc(#{$base} * 4);
        }

        &__more-info {
            padding-left: 0;
            margin-left: -4px;
            padding-right: calc(#{$base} * 1.5);
        }
    }
}
