.modularity-mod-negative-margin {
  height: 0;
  min-height: 0;
  padding: 0;
}

@for $amount from 0 through 24 {
  body:not(.wp-admin) .modularity-negative-margin--#{$amount} + * {
    margin-block-start: calc(-1 * var(--base, 8px) * #{$amount}) !important;
    position: relative;
    z-index: 1;
  }
}

.modularity-negative-margin__marker {
  height: 0;
  width: 100%;
}
