[data-type="acf/negative-margin"] {
  border: 3px dashed #999;
  min-height: 48px;
  position: relative;

  &::before {
    color: #777;
    content: "\2191";
    font-size: 24px;
    inset: 50% auto auto 50%;
    line-height: 1;
    pointer-events: none;
    position: absolute;
    transform: translate(-50%, -50%);
  }
}

.modularity-mod-negative-margin {
  height: 48px;
  margin-block-start: 0 !important;
  min-height: 48px;
}
