.modularity-mod-spacer {
  margin: 0; 
  padding: 0;
}

/* Gutenberg styling */ 
[data-type="acf/spacer"] {
  border: 3px dashed #999;
  position: relative;
  display: flex;
}

[data-type="acf/spacer"]:before {
  content: "\21B9";
  transform: rotate(90deg);
  display: block;
  margin: auto;
  color: #999;
}