// Variables
$circleDiam: 20px;
$innerCircleDiam: calc($circleDiam / 3);
$rotatingCircleDiam: calc($circleDiam / 5);

$innerCirclePos: calc(($circleDiam - $innerCircleDiam) / 2);
$rotatingCirclePosLeft: calc(($circleDiam - $innerCircleDiam) / 2) - $rotatingCircleDiam;
$rotatingCirclePosTop: calc($circleDiam / 2) - calc($rotatingCircleDiam / 2);

//The circle wrapper
.modularity-modal-spinner {
    text-indent: 999em;
    width: $circleDiam;
    height: $circleDiam;
    position: fixed;
    top: 50%; left: 50%;
    margin: calc($circleDiam / 2) * -1;
    background-color: #888;
    box-shadow: 0 2px 1px rgba(0,0,0,.3) inset;
    border-radius: 50%;

    // The inner, rotating circle
    &:after {
        content: '';
        position: absolute;
        top: $rotatingCirclePosTop;
        left: $rotatingCirclePosLeft;
        background-color: #fff;
        height: $rotatingCircleDiam;
        width: $rotatingCircleDiam;
        animation: modularity-spin 1s linear infinite;
        border-radius: 50%;
        transform-origin: calc($innerCirclePos / 2) + $rotatingCircleDiam;
    }
}

// Spin it, baby!
@keyframes modularity-spin {
    100% { transform: rotate(360deg); }
}

.modularity-modal-spinner-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    margin: 0;
    background-position: center center;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
