.modularity-table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 1px solid #ddd;

    thead {
        background-color: #f5f5f5;
        border-bottom: 1px solid #ddd;

        th {
            padding: 5px 12px;

            & + th {
                border-left: 1px solid #ddd;
            }
        }

        th.checkbox-wrapper {
	        width: 50px;
        }
    }

    tbody {
        tr + tr {
            border-top: 1px solid #eee;
        }

        td {
            padding: 12px;
            vertical-align: text-top;
        }

        .checkbox {
            width: 0;
            text-align: center;
            border-right: 1px solid #eee;
        }
    }

    input[type="checkbox"] {
        margin-top: -4px;
    }
}

.modularity-table-sections {
    tr + tr {
        border-top: 0;
    }

    tbody + tbody {
        border-top: 1px solid #eee;
    }
}

.modularity-table-metabox-wrapper {
    margin-bottom: -12px;
    margin-left: -12px;
    margin-right: -12px;
}
