$base-font-color: #252525;

// ***************************************************************
// *** Gray palette
// ***************************************************************
$palette-gray-1: #fff;
$palette-gray-2: #333;
$palette-gray-3: #666;
$palette-gray-4: #777;
$palette-gray-5: #000;

// ***************************************************************
// *** Red palette
// ***************************************************************
$palette-red-1: #f7a600;
$palette-red-2: #cb0050;
$palette-red-3: #ec6701;
$palette-red-4: #ae0b05;
$palette-red-5: #e3000f;

// ***************************************************************
// *** Blue palette
// ***************************************************************
$palette-blue-1: #4db4e7;
$palette-blue-2: #0069b4;
$palette-blue-3: #5ba1d8;
$palette-blue-4: #005c86;
$palette-blue-5: #0095db;

// ***************************************************************
// *** Green palette
// ***************************************************************
$palette-green-1: #afca05;
$palette-green-2: #11a636;
$palette-green-3: #a0c855;
$palette-green-4: #50811b;
$palette-green-5: #76b828;

// ***************************************************************
// *** Purple palette
// ***************************************************************
$palette-purple-1: #d35098;
$palette-purple-2: #712082;
$palette-purple-3: #a84c98;
$palette-purple-4: #7b075e;
$palette-purple-5: #a61380;

// ***************************************************************
// *** Creamy
// ***************************************************************
$creamy: #f6f5f2;
$creamy-darker: #e7e5e1;

// ***************************************************************
// *** Grays
// ***************************************************************
$gray-dark: #464646;
$gray: #979797;
$gray-light: #7f7f7f;
