$pricon-link-item: "\EA01";
$pricon-user-o: "\EA02";
$pricon-external-link: "\EA03";
$pricon-file-pdf: "\EA04";
$pricon-file-text: "\EA05";
$pricon-file-image: "\EA06";
$pricon-file-audio: "\EA07";
$pricon-file-video: "\EA08";
$pricon-file-archive: "\EA09";
$pricon-github: "\EA0A";
$pricon-presentation: "\EA0B";
$pricon-file: "\EA0C";
$pricon-phone: "\EA0D";
$pricon-smartphone: "\EA0E";
$pricon-email: "\EA0F";
$pricon-picture: "\EA10";
$pricon-user: "\EA11";
$pricon-picture-add: "\EA12";
$pricon-plus-o: "\EA13";
$pricon-caret-down: "\EA14";
$pricon-caret-up: "\EA15";
$pricon-check: "\EA16";
$pricon-check-o: "\EA17";
$pricon-notice-warning: "\EA18";
$pricon-notice-danger: "\EA19";
$pricon-notice-error: "\EA1A";
$pricon-info-o: "\EA1B";
$pricon-question-o: "\EA1C";
$pricon-linkedin-square: "\EA1D";
$pricon-twitter-square: "\EA1E";
$pricon-facebook-square: "\EA1F";
$pricon-instagram: "\EA20";
$pricon-print: "\EA21";
$pricon-listen-ear: "\EA22";
$pricon-volume: "\EA23";
$pricon-search: "\EA24";
$pricon-edit: "\EA25";
$pricon-minus-o: "\EA26";
$pricon-twitter: "\EA27";
$pricon-linkedin: "\EA28";
$pricon-facebook: "\EA29";
$pricon-settings: "\EA2A";
$pricon-location-pin: "\EA2B";

// Arrows
$icon-arrow-right: "\f061";
$icon-arrow-left: "\f060";
$icon-arrow-circle-left: "\f0a8";
$icon-arrow-circle-right: "\f0a9";
$icon-link-arrow: "\f18e";
$icon-caret-down: "\f0d7";
$icon-caret-right: "\f0da";

// Sorting arrows
$icon-sort: "\f0dc";
$icon-sort-desc: "\f0dd";
$icon-sort-asc: "\f0de";

// Outbound link
$icon-link-outbound: "\f08e";

// Plus and minus
$icon-more-plus: "\f0fe";
$icon-plus-square: "\f0fe";
$icon-minus-square: "\f146";

// Social networks
$icon-facebook: "\f082";
$icon-twitter: "\f081";
$icon-linkedin: "\f08c";
$icon-instagram: "\f16d";
$icon-github: "\f113";

// File types
$icon-pdf: "\f1c1";
$icon-word: "\f1c2";
$icon-audio: "\f1c7";
$icon-archive: "\f1c6";
$icon-image: "\f1c5";
$icon-text: "\f0f6";
$icon-video: "\f1c8";
$icon-powerpoint: "\f1c4";
$icon-excel: "\f1c3";

// Search
$icon-search: "\f002";

//Link types (prefix)
$icon-phone: "\f095";
$icon-mail: "\f0e0";

// Media
$icon-play: "\f144";

// Accecailbity
$icon-readspeaker: "\f028";
$icon-ban: "\f05e";
