// Arrows
$icon-arrow-right: "\f061";
$icon-arrow-left: "\f060";
$icon-arrow-circle-left: "\f0a8";
$icon-arrow-circle-right: "\f0a9";
$icon-link-arrow: "\f18e";
$icon-caret-down: "\f0d7";
$icon-caret-right: "\f0da";

// Sorting arrows
$icon-sort: "\f0dc";
$icon-sort-desc: "\f0dd";
$icon-sort-asc: "\f0de";

// Outbound link
$icon-link-outbound: "\f08e";

// Plus and minus
$icon-more-plus: "\f0fe";
$icon-plus-square: "\f0fe";
$icon-minus-square: "\f146";

// Social networks
$icon-facebook: "\f082";
$icon-twitter: "\f081";
$icon-linkedin: "\f08c";
$icon-instagram: "\f16d";
$icon-github: "\f113";

// File types
$icon-pdf: "\f1c1";
$icon-word: "\f1c2";
$icon-audio: "\f1c7";
$icon-archive: "\f1c6";
$icon-image: "\f1c5";
$icon-text: "\f0f6";
$icon-video: "\f1c8";
$icon-powerpoint: "\f1c4";
$icon-excel: "\f1c3";

// Search
$icon-search: "\f002";

//Link types (prefix)
$icon-phone: "\f095";
$icon-mail: "\f0e0";

// Media
$icon-play: "\f144";

// Accecailbity
$icon-readspeaker: "\f028";
$icon-ban: "\f05e";
