.intranet-news.walkthrough-highlight {
    background-color: #fff;
    padding: 10px 0;
    border-radius: 5px;
}

.box-news .network-title {
    margin-right: 5px;
    display: inline-block;
    font-weight: normal;
}

.modularity-mod-intranet-news .box-news p:first-of-type {
    margin: 0;
}

.sidebar-content-area-bottom,
.sidebar-content-area-top {
    .modularity-mod-intranet-news {

        .grid-lg-12:first-of-type {
            .box-news article img,
            .box-news article img + p,
            .box-news .image-placeholder,
            .box-news .image-placeholder + p {
                float: none;
                width: 100%;
                height: auto;
            }

            .box-news article img,
            .box-news .image-placeholder {
                margin: 0;
                margin-bottom: 20px;
            }
        }

        .box-news {
            margin: 0;
            overflow: hidden;
        }

        .grid-lg-12 + .grid-lg-12 .box-news {
            margin-top: 30px;

            @media #{$screen-sm-up} {
                padding-top: 30px;
            }
        }

        .read-more {
            margin-top: 15px;
        }

        time, .comments {
            margin-top: 5px;
            float: right;
        }

        .comments {
            font-size: .8em;
            vertical-align: baseline;
            line-height: 1;
        }

        .sub-heading > span:not(.comments) {
            color: $palette-purple-4;
            font-weight: bold;
        }

        @media #{$screen-below-sm} {
            .sub-heading {
                border-top: 0;
                border-bottom: 0;
                padding: 0;
            }
        }

    }
}

.sidebar-right-sidebar,
.sidebar-left-sidebar {
    .modularity-mod-intranet-news .box-news {
        .sub-heading {
            margin-bottom: 10px;
        }

        article {
            margin-top: 5px;
        }

        .read-more {
            margin-top: 10px;
        }
    }
}

.modularity-mod-intranet-news .box-news-horizontal .box-title {
    margin-top: 10px;
    font-size: 1.8rem;

    @media screen and #{$screen-xs} {
        font-size: 1.6rem;
    }

    @media screen and #{$screen-sm} {
        font-size: 1.5rem;
    }
}

.modularity-mod-intranet-news .box-news {
    article {
        margin: 0;
    }
}

.modularity-mod-intranet-news .box-news article img,
.modularity-mod-intranet-news .box-news .image-placeholder {
    margin: 0;
    margin-top: 3px;
    float: right;
    width: calc(40% - 15px);
    height: auto;
    margin-left: 15px;
    border-radius: 3px;
}

.modularity-mod-intranet-news .box-news .image-placeholder {
    padding-bottom: 25%;
}

.modularity-mod-intranet-news .box-news article img + p,
.modularity-mod-intranet-news .box-news .image-placeholder + p {
    float: right;
    width: 60%;
}

.modularity-mod-intranet-news .box-news:hover .read-more {
    background-color: #E0DED9;
}
