.modularity-mod-intranet-u-links,
.modularity-mod-intranet-u-syste {
    position: relative;

    .only-if-editing {
        display: none;
    }

    .box-title {
        position: relative;
    }

    [data-user-link-edit],
    h4 [data-user-systems-edit] {
        font-weight: normal;
        font-size: .7em;

        background-color: transparent;
        position: absolute;
        @include center(false, true);
        right: 15px;
        padding: 0px;
        border-radius: 0 0 0 2px !important;

        color: #fff;

        &::before {
            vertical-align: -5%;
        }

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    button[data-user-link-remove] {
        padding: 1px 5px 5px;
    }

    .links li {
        padding: 6px 10px !important;
    }

    .is-editing {
        .only-if-editing {
            display: block;
        }

        .links li {
            background-color: rgba(#fff, .3);
            border-radius: 3px;

            a {
                float: left;
                text-decoration: none !important;
            }

            &::after {
                content: "";
                display: table;
                clear: both;
            }
        }
    }

    [data-user-link-add] {
        background-color: $creamy;
        padding: 15px;
        border: 1px solid $creamy-darker;
        border-top: none;
    }
}
