.wp-full-overlay-sidebar {
  min-width: 385px;
  width: 23%; }

.wp-full-overlay.expanded {
  margin-left: 385px; }

@media screen and (min-width: 1667px) {
  .wp-full-overlay.expanded {
    margin-left: 23%; } }

.wp-full-overlay.collapsed .wp-full-overlay-sidebar {
  margin-left: -385px; }

.customize-control {
  display: block !important; }
