.network {
    position: relative;
}

.network-header-container {
    padding: 10px 0;

    @media #{$screen-sm-up} {
        padding: 15px 0;
    }

    @media #{$screen-lg-up} {
        padding: 22.5px 0;
    }
}

.network-title {
    font-weight: bold;

    em {
        font-weight: normal;
        color: $gray;
        letter-spacing: .5px;

        @media #{$screen-below-md} {
            letter-spacing: 0;
        }
    }
}

.my-networks .network-title a::before {
    @include pricon($pricon-link-item);
    font-weight: normal;
    display: inline-block;
    margin-right: 5px;
    color: $gray;
}

.network-title-format {
    font-weight: bold;

    em {
        font-weight: normal;
        color: $gray;
    }
}

.current-network-label {
    display: block;
    margin-bottom: .2em;
    font-size: .8em;
}

.current-network {
    position: relative;
    padding: .2em .4em;
    background-color: $creamy-darker;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.6rem;
    cursor: pointer;
    text-align: left;
    overflow: hidden;
    min-width: 350px;
    padding-right: 1.5em;

    @media screen and #{$screen-xs} {
        font-size: 1.4rem;
        white-space: nowrap;
        max-width: 100%;
        min-width: 0px;
        width: 100%;
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 70px;
            @include gradient(rgba($creamy, 0), rgba($creamy, 1), to right);
        }

        &::after {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    @media screen and #{$screen-sm} {
        min-width: auto;
        width: 100%;
    }

    &::after {
        position: absolute;
        right: 1.5em;
        top: 50%;
        transform: translateY(-50%);
        @include pricon($pricon-caret-down);
        font-size: .4em;
        margin-left: 10px;
    }

    em {
        font-weight: 100;
        color: $gray;
        letter-spacing: 1px;

        @media #{$screen-below-md} {
            letter-spacing: 0;
        }
    }
}

.network-search {
    display: block;
    border-bottom: 1px solid $creamy-darker;

    @include input-placeholder($gray, 1);

    .input-group {
        height: 50px;
    }

    .form-control {
        background-color: #fff;
        border: none;
        box-shadow: none;
        height: 50px;
        font-size: 1em;
        padding: 10px 20px;
    }

    button.btn {
        font-size: 1.2em;
        padding: 11px 20px;
        background-color: #fff;
        border: none;
    }
}

.network-search-results {
    text-align: left;

    ul {
        padding: 15px 0 10px 0;
    }

    li.title {
        padding: 0px 20px;
    }

    li a {
        display: block;
        color: #000;
        padding: 5px 20px;

        &:hover {
            background-color: $creamy;
            text-decoration: none;
        }
    }
}

@media #{$screen-below-md} {
    .btn-subscribe {
        margin-top: 10px;
    }
}
