.network {
    position: relative;
}

.network-title {
    font-weight: bold;

    em {
        font-weight: normal;
        color: $gray;
        letter-spacing: .5px;
    }
}

.current-network {
    padding: 0;
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 1.8rem;
    cursor: pointer;

    @media screen and #{$screen-xs} {
        font-size: 1.6rem;
    }

    @media screen and #{$screen-sm} {
        font-size: 1.5rem;
    }

    &::after {
        @include hbg-icon($icon-caret-down);
        font-size: .7em;
        margin-left: 10px;
    }

    em {
        font-weight: 100;
        color: $gray;
        letter-spacing: 1px;
    }
}

.network-search {
    display: block;
    border-bottom: 1px solid $creamy-darker;

    @include input-placeholder($gray, 1);

    .input-group {
        height: 50px;
    }

    .form-control {
        background-color: #fff;
        border: none;
        box-shadow: none;
        height: 50px;
        font-size: 1em;
        padding: 10px 20px;
    }

    button.btn {
        font-size: 1.2em;
        padding: 11px 20px;
        background-color: #fff;
    }
}

.network-search-results {
    ul {
        padding: 15px 0 10px 0;
    }

    li.title {
        padding: 0px 20px;
    }

    li a {
        display: block;
        color: #000;
        padding: 5px 20px;

        &:hover {
            background-color: $creamy;
            text-decoration: none;
        }
    }
}
