.network-search-dropdown {
    display: none;
    position: absolute;
    z-index: 9999;
    top: calc(100% + 10px);
    left: 0;
    right: 0;

    background-color: #fff;
    border: 1px solid #d0d0d0;
    box-shadow: 0 0 20px rgba(#000, .2);

    border-radius: 3px;
    overflow: hidden;

    .show-all {
        display: block;
        background-color: $creamy;
        border-top: 1px solid $creamy-darker;
        padding: 10px 20px;
        color: $base-font-color;
    }
}

.network {
    position: relative;
}

.network-header-container {
    padding: 10px 0;

    @media #{$screen-sm-up} {
        padding: 15px 0;
    }

    @media #{$screen-lg-up} {
        padding: 22.5px 0;
    }
}

.network-title {
    font-weight: bold;

    em {
        font-weight: normal;
        color: $gray;
        letter-spacing: .5px;

        @media #{$screen-below-md} {
            letter-spacing: 0;
        }
    }
}

.my-networks .network-title a::before {
    @include pricon($pricon-link-item);
    font-weight: normal;
    display: inline-block;
    margin-right: 5px;
    color: $gray;
}

.network-title-format {
    font-weight: bold;

    em {
        font-weight: normal;
        color: $gray;
    }
}

.current-network-label {
    display: block;
    margin-bottom: .2em;
    font-size: .8em;
}

.current-network {
    position: relative;
    padding: 11px;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 1.1rem;
    font-weight: normal;
    cursor: pointer;
    text-align: left;
    overflow: hidden;
    padding-right: 1.5em;
    width: 100%;
    color: $base-font-color;

    strong {
        display: inline-block;
        padding-right: 5px;
        color: $palette-purple-4;
    }

    em {
        font-weight: 100;
        color: $gray;
        letter-spacing: 1px;

        @media #{$screen-below-md} {
            letter-spacing: 0;
        }
    }
}

.current-network-dropdown-arrow {
    display: block;
    position: absolute;
    top: 3px;
    right: 3px;
    height: calc(100% - 6px);
    width: 38px;
    background-color: $palette-purple-3;
    border-radius: 2px;

    &::after {
        position: absolute;
        @include center();
        @include pricon($pricon-caret-down);
        color: #fff;
        font-size: .6em;
        margin-top: .6px;
    }
}

.current-network.dropdown-open .current-network-dropdown-arrow {
    &::after {
        @include pricon($pricon-close);
        font-size: .8em;
        margin-top: 1px;
    }
}

@media #{$screen-below-md} {
    #site-header .navbar {
        padding: 10px 0;
        padding-bottom: 35px;
    }

    body:not(.material-no-shadow) .navbar {
        box-shadow: none;
    }

    .network {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .current-network {
        border-radius: 0px;
        background-color: $creamy;
        border-bottom: 1px solid $creamy-darker;
        box-shadow: none;
        font-size: .9em;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .current-network-dropdown-arrow {
        width: 32px;

        &::after {
            margin-top: 1px;
        }
    }
}

.network-search {
    display: block;
    border-bottom: 1px solid $creamy-darker;

    @include input-placeholder($gray, 1);

    .input-group {
        height: 50px;
    }

    .form-control {
        background-color: #fff;
        border: none;
        box-shadow: none;
        height: 50px;
        font-size: 1em;
        padding: 10px 20px;
    }

    button.btn {
        font-size: 1.2em;
        padding: 11px 20px;
        background-color: #fff;
        border: none;
    }
}

.network-search-results {
    text-align: left;

    ul {
        padding: 10px 0;
    }

    li.title {
        padding: 5px 20px;
        background-color: $creamy;
        border-top: 1px solid $creamy-darker;
        border-bottom: 1px solid $creamy-darker;
        margin-bottom: 10px;
    }

    li a {
        display: block;
        color: #000;
        padding: 5px 20px;

        &:hover {
            background-color: $creamy;
            text-decoration: none;
        }
    }
}
