body.admin-bar {
    position: static !important;
}

#site-header {
    display: block;

    .navbar {
        padding: 10px;
    }

    .site-title {
        display: block;
        margin-right: 30px;
        padding-top: 7px;
        float: left;

        .h1 {
            font-size: .9em;
            letter-spacing: .5px;
            color: #fff;
        }
    }

    .logotype {
        display: block;
        margin-right: 30px;
        width: 34px;

        svg, path {
            fill: #fff;
        }
    }

    .subnav .profile-image-icon {
        margin-right: 8px;
    }

    .subnav {
        margin-top: -2px;
        margin-left: 15px;

        a {
            padding: 0;
            font-size: .9em;
        }

        a.dropdown-open {

        }

        @media #{$screen-md-up} {
            li {
                position: relative;
            }
        }

        > ul > li + li {
            margin-left: 15px;
        }
    }

    .subnav .dropdown ul {
        a {
            padding: 2px 10px;
        }
    }

    .search.search-main {
        position: relative;
        display: block;
        width: 100%;

        @include input-placeholder(#222, .5);

        input[type="search"].form-control {
            background-color: #fff;
            border: none;
            box-shadow: none;
            width: 100%;
            border-radius: 3px 0 0 3px;
        }

        input[type="search"].form-control:focus + .input-group-addon-btn .btn {
            background-color: darken($palette-gray-4, 17%);
            padding: 7px 12px;

            @if ($includeThemes == true) {
                @each $theme, $color in $themes {
                    .theme-#{$theme} & {
                        background-color: darken(map-get($color, fourthSafe), 17%);
                        color: map-get($color, fourthTextColor);
                    }
                }
            }

            &::after {
                opacity: 1;
                margin-right: 0;
            }
        }

        button.btn {
            background-color: #fff;
            color: $gray;
            padding: 7px;
            border: none;
            transition: 200ms all;
            overflow: hidden;
            border-radius: 0 3px 3px 0;

            &::after {
                display: inline-block;
                vertical-align: middle;
                white-space: nowrap;
                content: attr(data-label);
                margin-left: .5em;
                opacity: 0;
                transition: 200ms all;
                margin-right: -30px;
            }
        }
    }

    .menu-trigger {
        color: #fff;
        position: relative;

        .menu-icon {
            background-color: #fff;
            margin-right: 3px;

            &::before,
            &::after {
                background-color: #fff;
            }
        }

        &:target,
        &.open {
            .menu-icon {
                background: transparent;
            }
        }

        &:focus {
            text-decoration: none;
        }
    }
}

.login-form.login-form {
    a[href="#forgot-password"] {
        color: $gray;
        padding: 0;
        margin: 0;
        margin-top: 5px;
        font-size: .8em;
        font-weight: normal;

        &:hover {
            text-decoration: underline;
        }
    }
}
