body.admin-bar {
    position: static !important;
}

#site-header {
    display: block;

    .site-title {
        display: block;
        margin-right: 30px;
        padding-top: 7px;
        float: left;

        .h1 {
            font-size: .9em;
            letter-spacing: .5px;
            color: #fff;
        }
    }

    nav.subnav {
        float: right;
    }

    .search.search-main {
        position: relative;
        display: block;
        float: left;
        max-width: 350px;
        width: 100%;

        @include input-placeholder(#fff, .5);

        input[type="search"].form-control {
            background-color: darken($palette-gray-4, 10%);
            color: #fff;
            border: none;
            box-shadow: none;
            width: 100%;

            // Color theme styles
            @if ($includeThemes == true) {
                @each $theme, $color in $themes {
                    .theme-#{$theme} & {
                        background-color: darken(map-get($color, fourthSafe), 10%);
                        color: map-get($color, fourthTextColor);
                    }
                }
            }
        }

        input[type="search"].form-control:focus + .input-group-addon-btn .btn {
            background-color: darken($palette-gray-4, 17%);

            @if ($includeThemes == true) {
                @each $theme, $color in $themes {
                    .theme-#{$theme} & {
                        background-color: darken(map-get($color, fourthSafe), 17%);
                        color: map-get($color, fourthTextColor);
                    }
                }
            }

            &::after {
                opacity: 1;
                margin-right: 0;
            }
        }

        button.btn {
            background-color: darken($palette-gray-4, 10%);
            color: #fff;
            padding-top: 7px;
            border: none;
            transition: 200ms all;
            overflow: hidden;

            @if ($includeThemes == true) {
                @each $theme, $color in $themes {
                    .theme-#{$theme} & {
                        background-color: darken(map-get($color, fourthSafe), 10%);
                        color: map-get($color, fourthTextColor);
                    }
                }
            }

            &::after {
                display: inline-block;
                vertical-align: middle;
                white-space: nowrap;
                content: attr(data-label);
                margin-left: .5em;
                opacity: 0;
                transition: 200ms all;
                margin-right: -30px;
            }
        }
    }

    @media #{$screen-below-md} {
        .site-title {
            float: none;
            margin-bottom: 7px;
            margin-right: 0;
            text-align: center;
        }

        .search {
            float: none;
            max-width: none;
        }

        nav.subnav {
            text-align: center;
            float: none;
        }

        ul.nav li {
            position: static;
        }

        .login-dropdown {
            left: 0;
            right: 0;
            text-align: left;
        }

        .subnav {
            background-color: rgba(#000, .3);
            padding: 0 5px;

            li {
                float: left;

                &:last-child {
                    float: right;
                }
            }
        }

        .navbar .container {
            margin: 0;

            [class*="grid-"] {
                padding: 0;
                margin: 0;
            }

            .grid {
                margin: 0;
            }
        }

        .menu-trigger {
            color: #fff;
            position: relative;

            .menu-icon {
                background-color: #fff;
                margin-right: 3px;

                &::before,
                &::after {
                    background-color: #fff;
                }
            }

            &:target,
            &.open {
                .menu-icon {
                    background: transparent;
                }
            }

            &:focus {
                text-decoration: none;
            }
        }
    }
}

.login-form.login-form {
    a[href="#forgot-password"] {
        color: $gray;
        padding: 0;
        margin: 0;
        margin-top: 5px;
        font-size: .8em;
        font-weight: normal;

        &:hover {
            text-decoration: underline;
        }
    }
}
