body.admin-bar {
    position: static !important;
}

#site-header {
    display: block;
    position: relative;

    .navbar {
        padding: 20px 0;

        .grid + .grid {
            margin-top: 15px;
        }

        .or {
            color: #fff;
            font-weight: bold;
            padding: 0 .5em;
        }
    }

    .site-title {
        color: #fff;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-weight: 400;

        @media #{$screen-md-up} {
            margin-top: 4px;
        }

        @media #{$screen-xs} {
            font-size: .9em;
        }
    }

    .logotype {
        display: block;

        svg, path {
            width: 90px;
            height: 96px;

            @media #{$screen-below-sm} {
                height: 37px;
                width: 24px;
            }
        }
    }

    .subnav .profile-image-icon {
        margin-right: 8px;
    }

    .subnav {
        margin-top: -2px;
        margin-left: 15px;

        > ul > li > a {
            padding: 0;
            font-size: .9em;
        }

        @media #{$screen-md-up} {
            > ul > li {
                position: relative;
            }
        }

        .subnav-icon a {
            .pricon {
                opacity: .5;
            }

            &:hover .pricon {
                opacity: 1;
            }
        }

        a[data-dropdown=".login-dropdown"] {
            position: relative;
        }

        > ul > li + li {
            margin-left: 15px;
        }
    }

    .subnav .dropdown ul {
        a {
            padding: 2px 10px;
        }
    }

    .search.search-main {
        position: relative;
        display: block;
        width: 100%;
        background-color: #fff;
        border-radius: 3px;

        @include input-placeholder($palette-purple-4, 1, bold);

        input[type="search"].form-control {
            background-color: transparent;
            border: none;
            box-shadow: none;
            width: 100%;
            padding: 9px 15px;
            height: auto;
            font-size: 1.1rem;
        }

        button[type="submit"].btn {
            background-color: $palette-purple-1;
            color: #fff;
            border: none;
            overflow: hidden;
            border-radius: 2px;
            margin: 3px;
        }

        .input-group-addon-btn {
            text-align: right;
        }
    }

    .menu-trigger {
        color: #fff;
        position: relative;

        .menu-icon {
            background-color: #fff;
            margin-right: 3px;

            &::before,
            &::after {
                background-color: #fff;
            }
        }

        &:target,
        &.open {
            .menu-icon {
                background: transparent;
            }
        }

        &:focus {
            text-decoration: none;
        }
    }
}

.login-dropdown {
    margin-top: 15px !important;

    input[type="text"],
    input[type="password"] {
        display: block;
    }

    &::before,
    &::after {
        right: 25px !important;
    }
}

html[data-useragent*="Chrome"] #site-header .search.search-main button[type="submit"].btn {
    margin-right: 2px;
}

.login-form.login-form {
    a[href="#forgot-password"] {
        color: $gray;
        padding: 0;
        margin: 0;
        margin-top: 5px;
        font-size: .8em;
        font-weight: normal;

        &:hover {
            text-decoration: underline;
        }
    }
}

.greeting {
    font-weight: 200;
    padding-bottom: 0;
}

.greeting-actions .dropdown-open {
    display: inline-block;
}

.greeting-dropdown {
    left: -8px;
}

.greeting-options button .pricon {
    vertical-align: 30%;
}
