.search-result-item h3 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.search-result-item .network-title {
    display: inline-block;
    margin-bottom: 10px;
}

.search-result-item-user {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;

    padding: 15px;
    border: 1px solid $creamy-darker;
    border-radius: 5px;

    .profile-header-background {
        opacity: .15;
    }

    .profile-image {
        flex: 0 0 auto;
        margin-right: 25px;
        width: 80px;
        height: 80px;
    }

    .profile-basics {
        flex: 1 0 auto;
    }

    .profile-title,
    .profile-department {
        font-size: .8em;
    }
}

.search-autocomplete-nothing-found {
    display: block;
    padding: 7.5px 10px;
    font-style: italic;
}

.search-autocomplete {
    display: none;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(#000, .1);
    border-radius: 3px;
    overflow: hidden;
    font-size: 1em;

    li {
        font-size: .9em;
    }

    .read-more {
        background-color: $palette-gray-2;
        color: #fff !important;
        border: none;
        border-radius: 0 !important;
        margin: 0 -1px -1px -1px;
        width: calc(100% + 2px);

        // Color theme styles
        @if ($includeThemes == true) {
            @each $theme, $color in $themes {
                .theme-#{$theme} & {
                    background-color: map-get($color, secondSafe);
                    color: map-get($color, secondTextColor)
                }
            }
        }

        &:hover {
            background-color: lighten($palette-gray-2, 10%);

            // Color theme styles
            @if ($includeThemes == true) {
                @each $theme, $color in $themes {
                    .theme-#{$theme} & {
                        background-color: lighten(map-get($color, secondSafe), 10%);
                    }
                }
            }
        }
    }

    li.title {
        background-color: $creamy;
        border-bottom: 1px solid $creamy-darker;
        border-top: 1px solid $creamy-darker;
        color: $base-font-color;
        padding: 3px 10px;
        font-size: .8em;
    }

    li a {
        display: block;
        color: $base-font-color;
        padding: 7.5px 10px;

        &:hover {
            background-color: rgba($palette-gray-2, .1);
            text-decoration: none;

            // Color theme styles
            @if ($includeThemes == true) {
                @each $theme, $color in $themes {
                    .theme-#{$theme} & {
                        background-color: rgba(map-get($color, second), .1);
                    }
                }
            }
        }
    }

    li.selected a {
        background-color: rgba($palette-gray-2, .1);

        // Color theme styles
        @if ($includeThemes == true) {
            @each $theme, $color in $themes {
                .theme-#{$theme} & {
                    background-color: rgba(map-get($color, second), .1);
                }
            }
        }
    }
}

button[type="submit"].searching {
    opacity: .6;
}

.search-autocomplete-image {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 2px;
}

.search-user-matches {
    li + li {
        margin-top: 5px;
    }

    li a {
        display: block;
        background-color: rgba(0,0,0,.1);
        border-radius: 3px;
        padding: 5px;
        line-height: 1;
        min-height: 35px;

        &:hover {
            background-color: rgba(0,0,0,.2);
        }
    }

    .profile-image {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px !important;
        border-radius: 2px;
        width: 25px;
        height: 25px;
        background-color: rgba(0,0,0,.2);
    }
}

.search-level {
    border-bottom: 1px solid $creamy-darker;
    font-size: 0;
    padding: 10px 0 20px 0;

    .nav li {
        font-size: 1rem;
        margin-right: 10px;
        margin-top: 10px;
    }

    .nav li.title {
        font-size: 1rem;
        color: $base-font-color;
    }

    .nav a {
        display: block;
        color: $base-font-color;
        border-radius: 30px;
        background-color: $creamy-darker;
        padding: 5px 10px 5px 15px;

        .label {
            position: relative;
            top: -2px;
            margin-left: 3px;
            background-color: #fff;
        }
    }

    .nav li:last-of-type a {
        border-right: 1px solid $creamy-darker;
    }

    .nav li.active a {
        color: $palette-gray-2;
        font-weight: bold;

        // Color theme styles
        @if ($includeThemes == true) {
            @each $theme, $color in $themes {
                .theme-#{$theme} & {
                    background-color: map-get($color, second);
                    color: map-get($color, secondTextColor);
                }
            }
        }
    }

    .nav li + li {
        margin-left: 0;
    }

    @media #{$screen-below-md} {
        .nav li.title {
            display: block;
        }
    }

    @media #{$screen-xs} {
        .nav li {
            display: block;

            a {
                display: inline-block;
            }
        }
    }
}
