// Alert
//
// .alert-info              - Blue alert (info)
// .alert-warning           - Yellow alert (warning)
//
// Markup:
// <div class="alert {{modifier_class}}"></div>

.alert {
    display: none;
    padding: 15px 0;
    font-size: $alert-font-size;
    color: $text-default;

    .buttons {
        text-align: right;
    }

    .btn {
        border-radius: 5px;
        letter-spacing: 0;

        & + .btn {
            margin-left: 5px;
        }
    }
}

.alert-info {
    background-color: $alert-info;

    .columns:first-child {
        padding-left: 60px;
        position: relative;

        &::before {
            @include hbg-icon("\f05a");
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
            font-size: $alert-icon-font-size;
            color: darken($alert-info, 60%);
        }
    }

    .link-item {
        color: $text-default;

        &::before {
            @include hbg-icon("\f05a");
            color: darken($alert-info, 60%);
        }
    }

    .btn-danger {
        background-color: $palette-red-4;
    }

    .btn-submit {
        background-color: darken($alert-info, 50%);
    }
}

.alert-warning {
    background-color: $alert-warning;
    color: $text-default;

    .columns:first-child {
        padding-left: $alert-icon-font-size*2.5;
        position: relative;

        &::before {
            @include hbg-icon("\f071");
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
            font-size: $alert-icon-font-size;
            color: #ff0000;
        }
    }

    .link-item {
        color: $text-default;

        &::before {
            @include hbg-icon("\f071");
            color: #ff0000;
        }
    }

    a {
        color: darken($alert-warning, 60%);
        font-weight: bold;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .btn-alert-close {
        color: $text-default;
    }

    .date {
        color: $text-default !important;
        top: 15px !important;
    }
}