// Article
//
// Markup:
// <article class="article">
//     <header class="article-header">
//         <div class="row">
//             <div class="columns large-12">
//                 <h1>Headline</h1>
//             </div>
//         </div>
//     </header>
//     <div class="article-ingress">
//         <p>The article ingress</p>
//     </div>
//     <div class="article-body">
//         <p>The article body</p>
//     </div>
// </article>

.article-header {
    margin-bottom: 10px;

    h1 {
        color: $palette-red-4;
        margin-bottom: 5px;
        margin-top: -7px;
        line-height: 120%;
    }

    .row {
        margin-bottom: 10px;
    }
}

.article-ingress {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: $article-ingress-font-size;
    font-weight: 500;
    line-height: 150%;
}

.article-body {
    margin-bottom: 30px;

    iframe {
        border: none;
        width: 100%;
    }

    a {
        color: $link-a;
        text-decoration: underline;

        &:hover,
        &:focus {
            color: $link-a-hover;
            text-decoration: underline;
        }

        &:visited {
            color: $link-a-visited;
        }
    }

    ul:not([class*="block-grid-"]) {
        list-style-type: none;

        li {
            position: relative;

            & + li {
                margin-top: 5px;
            }

            &::before {
                position: absolute;
                left: -20px;
                top: 9px;
                content: '';
                width: 6px;
                height: 6px;
                background-color: $palette-red-3;
            }
        }
    }

    .flex-video {
        margin-top: 20px;
    }

    table {
        margin-top: 15px;

        &:last-child {
            margin-bottom: 15px;
        }
    }
}

.article-accessibility {
    @media print {
        display: none !important;
    }

    li + li {
        margin-left: 20px;
    }

    a {
        font-weight: 300;
        font-size: $article-accessibility-font-size;
        color: $text-gray-dark !important;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: none !important;
            color: $palette-red-2 !important;
        }
    }
}

.timestamps {
    list-style-type: none;
    margin: 30px 0 0 0;
    padding: 0;
    font-size: 11pt;
}

#read-speaker-player {
    margin-top: 0;
}