// Autocomplete
//
// Markup:
// <ul class="autocomplete">
//     <li>Item</li>
// </ul>

.autocomplete {
    display: none;
    position: absolute;
    left: 0;
    z-index: 1;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #fff;
    text-align: left;
    box-shadow: 0 0 20px #000;
    width: 100%;

    li {
        font-size: $autocomplete-font-size;

        &.heading {
            background: #ddd;
            padding: 3px 12px;
        }

        strong {
            font-size: $autocomplete-title-font-size;
            color: $palette-red-4;
        }

        > a {
            display: block;
            padding: 10px 12px;
            @include gradient(#f1f1f1, #ddd);
            color: $text-default;
            text-decoration: none;

            &:hover{
                background: $palette-red-2;
                color: lighten($palette-red-2, 40%);

                strong {
                    color: #fff;
                }
            }
        }

        &.selected > a {
            background: $palette-red-2;

            strong {
                color: #fff;
            }

            color: lighten($palette-red-2, 40%);
         }
    }
}