html {
    font-family: $base-font-family;
    font-size: $base-font-size;
}

body {
    position: static !important;

    font-family: $base-font-family;
    font-size: $base-font-size;

    background-color: #fff;
    margin: 0;
    padding: 0;
}

// Site wrapper that should wrap the main site elements
//
// Markup:
// <div class="site-wrapper"></div>

.site-wrapper {
    background-color: #fff;
}

// Container element
//
// Markup:
// <div class="container"></div>

.container {
    margin: 0 auto;
    max-width: $container-max-width;
    width: 100%;
}

// Row
// Foundation row
//
// Markup:
// <div class="row"></div>

.row {
    max-width: none;
    width: 100%;

    & + .row {
        margin-top: 30px;
    }
}

ul.row {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

// Responsive image
//
// Markup:
// <img class="responsive" src="image.jpg">

img.responsive {
    max-width: 100%;
    width: 100%;
    height: auto;
}

// Prepends a link indicator icon before the link text
//
// .link-item-light         - Lighter link item icon and text color (works on dark background)
//
// Markup:
// <a class="link-item {{modifier_class}}" href="#">Link</a>

.link-item {
    $padding-left: 20px;
    position: relative;
    left: 20px;
    padding-right: $padding-left;

    &::before {
        @include hbg-icon($icon-link-arrow);
        display: inline-block;
        margin-right: 6px;
        color: rgba(0,0,0,.4);
        margin-left: -$padding-left;
        text-decoration: none;
    }
}

.link-item[href*="//"]:not([href*="helsingborg.se"]) {
    &::before {
        @include hbg-icon($icon-link-outbound);
        display: inline-block;
        margin-right: 6px;
        color: rgba(0,0,0,.4);
    }
}

.link-item-light {
    &::before {
        color: rgba(255,255,255,.7);

        @media print {
            color: rgba(#000, .5) !important;
        }
    }
}

// Prepends a pdf icon before the link text
//
// .pdf-item-light              - Light pdf icon
//
// Markup:
// <a class="pdf-item {{modifier_class}}" href="#">Link</a>

.pdf-item {
    &::before {
        @include hbg-icon($icon-pdf);
        display: inline-block;
        margin-right: 8px;
        color: rgba(0,0,0,.4);
    }
}

.pdf-item-light {
    &::before {
        color: rgba(255,255,255,.7);
    }
}

// Preprends a MS Word icon before link text
//
// Markup:
// <a class="pdf-item" href="#">Link</a>

.word-item {
    &::before {
        @include hbg-icon($icon-word);
        display: inline-block;
        margin-right: 8px;
        color: rgba(0,0,0,.4);
    }
}
