// Breadcrumbs
//
// Markup:
// <ul class="breadcrumbs">
//     <li><a href="#">Parent</a></li>
//     <li><span class="breadcrumbs-current">Children</span></li>
// </ul>
.breadcrumbs {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    color: $text-gray-dark;
    font-size: $breadcrumbs-font-size;
    list-style-type: none;

    @media print {
        margin-top: 0;
    }

    li {
        display: inline-block;

        &:not(:last-child)::after {
            content: '/';
            margin-left: 5px;
            margin-right: 5px;
            color: $text-gray-light;
        }
    }

    a {
        color: $palette-red-4;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }

        @media print {
            &:after {
                display: none;
            }
        }
    }
}