
/**
 * Form style mixins
 */

$form-control-border-color: darken($creamy-darker, 10%);
$form-control-box-shadow: 0 0 10px rgba($focus-color, .5);

@mixin input-style() {
    width: 100%;
    height: auto;
    padding: 8px;
    background-color: #fff;
    border: 1px solid $form-control-border-color;
    font-family: $base-font-family;
    font-size: $input-font-size;
    font-weight: 300;
    color: $text-default;
    text-indent: 0;
    appearance: none;

    &:focus {
        box-shadow: $form-control-box-shadow;
        border-color: $focus-color;
    }
}

@mixin input-help-style() {
    font-size: $input-help-font-size;
    font-weight: 400;
    color: rgba(0,0,0,.7);
    padding: 0;
    margin-top: 5px;
}

/**
 * Default form styles
 */


// Form label
//
// Markup:
// <label class="form-label">Label</label>

.form-label {
    display: block;
    font-size: $base-font-size;
    font-weight: 500;
}

// Form control
// 
// Markup:
// <input type="text" class="form-control">

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="search"],
input[type="range"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[type="password"],
input[type="text"],
select,
textarea {
    &.form-control {
        @include input-style;
    }
}

input[type="checkbox"] {
    &.form-control {
        display: inline-block;
        vertical-align: middle;
        margin-top: -4px;
        margin-right: 5px;
    }
}

/**
 * Gravity forms
 */

.gform_wrapper {
    @extend .creamy;
    padding: 20px !important;
    width: 100%;
    max-width: 100% !important;
    
    .top_label {
        .gfield_label {
            @extend .form-label;
        }
    }
}

.gform_fields {
    li {
        &::before {
            display: none;
        }
    }
}

.gform_wrapper input[type="email"],
.gform_wrapper input[type="number"],
.gform_wrapper input[type="password"],
.gform_wrapper input[type="tel"],
.gform_wrapper input[type="text"],
.gform_wrapper input[type="url"],
.gform_wrapper textarea,
.gform-wrapper select,
.gform_wrapper.gf_browser_gecko select {
    @include input-style;
    padding: 8px;
}

.gform_wrapper .gfield_checkbox li, .gform_wrapper .gfield_radio li {
    margin-bottom: 0;
}

.gform_wrapper.gf_browser_gecko .gfield_checkbox li input[type="checkbox"],
.gform_wrapper.gf_browser_gecko .gfield_radio li input[type="radio"] {
    margin-top: 6px;
}

.gform_wrapper .chosen-container-multi .chosen-choices {
    padding: 8px;
}

.gform_wrapper .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    @include input-style;
    border: none;
    padding: 0;

    &:focus {
        box-shadow: none;
    }
}

.gform_wrapper .ginput_complex.ginput_container {
    overflow: visible;
}

.gform_wrapper .chosen-container-multi .chosen-choices {
    border-color: $form-control-border-color;
    background: #fff;
}

.gform_wrapper .chosen-container-multi.chosen-container-active .chosen-choices {
    box-shadow: $form-control-box-shadow;
    border-color: $focus-color;
}

.gform_wrapper .chosen-container .chosen-results li.active-result.highlighted {
    background: $focus-color;
}

.gform_wrapper ul.gfield_checkbox li, .gform_wrapper ul.gfield_radio li {
    overflow: visible;
}

.gform_wrapper .gfield_checkbox li label, .gform_wrapper .gfield_radio li label {
    font-size: $input-font-size;
}

.gform_wrapper .top_label .gfield_description {
    @include input-help-style;
}

.gform_footer input[type="submit"] {
    @extend .btn;
    @extend .btn-submit;
}

#extensions_message {
    display: block;
    @include input-help-style;
}

.ui-datepicker-header {
    background-color: #fff;
    border: none;
}

.ui-datepicker-title {
    border-bottom: 1px solid #bbb;
    padding-bottom: 5px;
}

.ui-datepicker-prev {
    background-position: center -24px;
}

.ui-datepicker-next {
    background-position: center 6px;
}

.ui-datepicker-title select {
    @include input-style;
    padding: 4px;
    font-size: $datepicker-title-font-size;
    width: 60px !important;

    & + select {
        margin-left: 5px;
    }
}

// Input group
// Two form-elements side by side
//
// Markup:
// <div class="input-group">
//    <div class="form-element">
//        <input class="form-control">
//    </div>
//    <div class="form-element">
//        <input class="form-control">
//    </div>
// </div>

.input-group {
    display: table;
    width: 100%;

    .form-element {
        display: table-cell;
        height: 100%;
        vertical-align: middle;
    }

    .form-control {
        display: block;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
}

// Filter form in creamy section

.creamy-filter {
    .form-group {
        margin-bottom: 20px;
    }
}

// Zmultiselect overriders
// Use the javascript plugin to initialize

.zselect {
    background-color: #fff;
    border: 1px solid $creamy-darker;
    position: relative;

    &::after {
        position: absolute;
        right: 12px;
        top: 17px;
        @include hbg-icon($icon-caret-down);
        font-size: $zselect-font-size;
        color: $text-gray-light;
        cursor: default;
    }

    ul {
        padding-bottom: 12px !important;
    }

    .selectall,
    .deselectall {
        cursor: pointer;
    }

    .zmsfilter input {
        @extend .form-control;
    }
}