.guide-section {
    margin-top: 20px;

    .section-title {
        display: none;
    }
}

.guide-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: $base-font-size;
    line-height: 150%;
    font-weight: normal;

    .box {
        img {
            margin-bottom: 20px;
        }
    }

    li {
        display: none;

        &.current {
            display: block;
        }

        &::before {
            display: none;
        }
    }
}