.mobile-menu-wrapper {
    .search {
        input {
            padding: 10px 12px;
            background-color: darken($palette-red-2, 30%);
            border: none;
            border-radius: 5px 0 0 5px;
            font-weight: 300;
            letter-spacing: 1px;
            color: #fff;
            width: 100%;
        }

        button[type="submit"] {
            padding: 8px;
            border-radius: 0 5px 5px 0;
            background-color: lighten($palette-red-2, 40%);
            color: $text-default;
        }

        .btn-submit {
        }

        .hbg-loading {
            display: none;
        }

        .search-web-archive {
            text-align: left;

            a {
                text-decoration: underline;
                font-size: $mobile-search-web-archive-font-size;
                color: rgba(255,255,255,.8);

                .fa {
                    margin-right: 5px;
                }
            }
        }
    }
}