// Modal
//
// Markup:
// <div class="modal">
//     <button class="modal-close">Close</button>
//     <div class="modal-content">The content</div>
// </div>

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba($palette-red-2, .9);
}

.modal-content {
    position: relative;
    margin: 70px auto;
    padding: 30px;
    max-width: $modal-max-width;
    width: 100%;
    background: #fff;
    color: $text-default;

    .box-content {
        color: $text-default !important;
        padding: 10px !important;
        border: 1px solid $creamy-darker;
    }

    a {
        color: $palette-red-2 !important;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.modal-close {
    position: absolute;
    right: -10px;
    top: -10px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    color: $palette-red-5;
    font-size: 35px;
    line-height: 100%;
    width: 38px;
    height: 38px;

    .fa {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    &:hover {
        color: darken($palette-red-5, 10%);
    }

    &:active {
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: $modal-max-width) {
    .modal {
        padding: 20px;
    }

    .modal-content {
        width: auto;
        margin: 0;
    }
}

#eventModal {
    .modal-title {
        margin-bottom: 0;
    }

    .modal-ics {
        display: block;
        margin-top: -5px;
        margin-bottom: 25px;
    }

    .modal-link {
        @include word-wrap();

        .link-item::before {
            display: inline;
        }
    }
}