// Navigation bar
//
// .navbar-aside           - Sidebar navbar
// .navbar-topmenu         - Top menu
//
// Markup:
// <nav class="navbar"></nav>

.navbar {
    .nav {
        @extend .nav-horizontal;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: $navbar-nav-font-size;

        li {
            padding-right: 20px;
            text-align: left;
        }

        a {
            position: relative;
            display: block;
            color: #fff;
            text-decoration: none;
            padding: 16px 0;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }

        .current_page_item a,
        .current-page-ancestor a {
            text-decoration: underline;
            &::after {
                bottom: 0;
                left: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(255, 255, 255, 0);
                border-bottom-color: #ffffff;
                border-width: 10px;
                margin-left: -15px;
            }
        }

        /*
        li.current-page-ancestor,
        li.current-menu-item {
            a {
                background-color: $palette-red-4;
                color: #fff;
                padding: 5px 8px;
            }
        }
        */

        li:first-child {
            text-align: left;
        }
    }
}

.nav-fixed:not(body) {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0 !important;
}

body.nav-fixed .site-header .hero {
    margin-top: 68px
}

.navbar-aside {
    border: 1px solid $creamy-darker;

    li {
        position: relative;

        & + li {
            border-top: 1px solid $creamy-darker;
        }
    }

    a {
        display: block;
        padding: 6px 10px;
        font-size: $navbar-aside-font-size;
        color: $text-default;
        text-decoration: none;

        &:hover {
            color: $palette-red-4;
        }
    }

    .sub-menu {
        margin: 0;
        padding: 0;
        border-top: 1px solid $creamy-darker;
        border-left: 8px solid $creamy-darker;
    }

    .has-childs:not(.current-node):not(.current-ancestor):not(.current) {
        > a {
            padding-right: 30px;
        }

        > a::after {
            position: absolute;
            right: 10px;
            top: 11px;
            @include hbg-icon($icon-plus-square);
            font-size: $navbar-aside-icon-font-size;
            color: $text-gray-light;
        }
    }

    .has-childs.current {
        > a {
            position: relative;
            padding-right: 30px;
        }

        > ::after {
            position: absolute;
            right: 12px;
            top: 11px;
            @include hbg-icon($icon-caret-down);
            font-size: $navbar-aside-icon-font-size;
            color: $text-gray-light;
        }
    }

    .current-ancestor:not(.current-node),
    .current-ancestor.has-childs {
        //background-color: $creamy;

        > a {
            padding-right: 30px;
        }

        &::after {
            position: absolute;
            right: 12px;
            top: 11px;
            @include hbg-icon($icon-caret-down);
            font-size: $navbar-aside-icon-font-size;
            color: $text-gray-light;
        }
    }

    .current-ancestor-last {
        background-color: $creamy;
    }

    .current {
        > a {
            position: relative;
            color: $palette-red-4;
        }
    }

    .sub-menu .current > a {
        &::before {
                content: '';
                position: absolute;
                top: 0;
                left: -8px;
                bottom: 0;
                width: 8px;
                display: block;
                background-color: $palette-red-4;
            }
    }

    li > ul {
        .current:not(.has-childs) > a {
            padding-left: 10px;
            &::after {
                left: -8px;
            }
        }
    }
}

.nav-mainmenu-container {
    background-color: $palette-red-4;
    margin-top: 15px;
}

.navbar-mainmenu {
    display: none; // Hides the navbar-mainmenu on small devices/screens
    margin-bottom: 0px;

    .nav {
        margin: 0;
    }

    @media #{$bp-mobile-menu-up} {
        display: block; // Show the navbar-mainmenu on medium up devices/screens
    }

    @media #{$bp-mobile-menu-down} {
        .nav li {
            font-size: $navbar-mainmenu-mobile-font-size;

            &:last-child {
                padding-right: 0;
            }
        }
    }
}

.nav-topmenu {
    background-color: $creamy;
    margin: 0;
    padding: 10px;
    margin-left: -$column-gutter/2;
    margin-right: -$column-gutter/2;
    margin-bottom: $column-gutter;

    @media print {
        display: none;
    }

    @media screen and (max-width: 555px) {
        text-align: center;

        br {
            display: block !important;
        }
    }

    @media screen and (min-width: 851px) {
        margin: 0;
        padding: 0;
        float: right;
        text-align: left;
        background-color: transparent;
    }

    br {
        display: none;
    }
}

.navbar-topmenu {
    display: inline-block;
    padding: 0;
    border: 1px solid $creamy-darker;
    border-radius: 3px;
    overflow: hidden;
    font-size: 0px;
    box-shadow: 0 2px 2px $creamy;
    background-color: #fff;

    @media screen and (max-width: 555px) {
        margin-bottom: 5px;
    }

    li {
        display: inline-block;

        a {
            display: block;
            padding: 3px 10px;
            color: $text-default;
            text-decoration: none;
            font-size: $navbar-topmenu-font-size;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }

        & + li {
            a {
                border-left: 1px solid $creamy-darker;
            }
        }

        &.highlight-red {
            a {
                color: $palette-red-4;
            }
        }
    }
}

.navbar-topmenu-help {
    display: block;

    @media screen and (max-width: 555px) {
        display: inline-block;
    }  

    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    margin-top: -3px;
    margin-bottom: 5px;

    li {
        display: inline-block;
        text-align: left;

        & + li {
            margin-left: 20px;
        }

        a {
            font-size: $navbar-topmenu-help-font-size;
            color: $text-default;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

// Navigation list
//
// .nav-horizontal      - Makes the nav horizontal
//
// Markup:
// <ul class="nav {{modifier_class}}">
//     <li><a href="#">Item 1</a></li>
//     <li><a href="#">Item 2</a></li>
// </ul>

.nav {
    @extend .no-margin-padding;
    list-style-type: none;

    li {
        @extend .no-margin-padding;
        list-style-type: none;
    }
}

.nav-horizontal {
    display: table;
    width: 100%;

    li {
        display: table-cell;

        &:last-child {
            padding-right: 0; 
        }
    }
}

.nav-block-list {
    a {
        display: block;
    }
}

.nav-footer-menu {
    a {
        padding: 8px 10px;
        background-color: darken($palette-red-4, 10%);
    }

    li + li {
        margin-top: 2px;
    }
}

// Mobile navigation
//
// Markup:
// <nav class="nav-mobilemenu">
//      <ul class="nav"></ul>
// </nav>

.mobile-menu-wrapper {
    opacity: 0;
    position: absolute;
    z-index: -10;
    background-color: $palette-red-2;
    overflow: hidden;
    transition: all .3s ease-in-out;

    @media #{$bp-mobile-menu-up} {
        display: none;
    }

    .stripe {
        display: block;
        width: 5px;
    }

    .container {
        padding: 10px 15px 10px 20px;
    }
}

.nav-mobilemenu {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 0;
    border: none;

    > ul > li + li {
        border: none;
    }

    > ul > li > a {
        color: #fff;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;

        &:hover {
            color: #fff;
            background-color: darken($palette-red-2, 10%);
        }
    }

    .current-node > a {
        background-color: darken($palette-red-2, 10%);
        color: #fff;
    }

    .sub-menu {
        background-color: lighten($palette-red-2, 50%);
        border-left-color: #ddd;

        a {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        a:hover {
            background-color: lighten($palette-red-2, 46%);
        }
    }

    .has-childs,
    .has-childs.current,
    .current-ancestor:not(.current-node),
    .current-ancestor.has-childs {
        &::after {
            top: 13px;
        }
    }

    .current {
        &:not(.has-childs) > a {
            &::after {
                left: -8px;
                width: 8px;
            }
        }
    }
}