// Pagination
//
// Markup:
// <ul class="pagination">
//  <li class="current"><a href="#">1</a></li>
//  <li><a href="#">2</a></li>
//  <li><a href="#">3</a></li>
//  [...]
// </ul>

.pagination {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    font-weight: normal;

    li {
        display: inline-block;
        font-size: $base-font-size;
        line-height: 120%;
        margin-right: 3px;

        &::before {
            display: none;
        }
    }

    a {
        display: block;
        padding: 3px 9px;
        background-color: $creamy;
        font-size: $pagination-font-size;
        color: $text-gray-dark;
        text-decoration: none;
        border: 1px solid $creamy-darker;

        &:hover {
            background-color: darken($creamy, 5%);
        }
    }

    .current a,
    .current-pager a {
        background-color: $palette-red-2;
        border-color: $palette-red-2;
        color: #fff;
    }
}