.sidebar-left {
    @media print {
        display: none;
    }
}

.sidebar-right {
    padding-top: 0;

    @media #{$medium-down} {
        margin-top: 20px;
    }

    .widget + .widget {
        margin-top: 20px;
    }
}

.sidebar-right,
.sidebar-left {
    .widget {
        &:nth-child(1n+1) {
            .box-filled {
                background: $palette-red-2;
            }
        }

        &:nth-child(2n+2) {
            .box-filled {
                background: $palette-red-3;
            }
        }

        &:nth-child(3n+3) {
            .box-filled {
                background: $palette-red-4;
            }
        }

        &:nth-child(4n+4) {
            .box-filled {
                background: $palette-red-5;
            }
        }

        &:nth-child(5n+5) {
            .box-filled {
                background: $palette-red-1;
            }
        }
    }

    iframe[src*="facebook"] {
        width: 100% !important;
    }
}

.sidebar-left p > a,
.sidebar-left .textwidget a,
.sidebar-right p > a,
.sidebar-right .textwidget a {
    color: #fff;

    &:hover {
        color: #fff;
    }
}

.sidebar-left-widgets {
    margin-bottom: 20px !important;
}

.sidebar-left-widgets-bottom {
    margin-top: 20px !important;
}