// Site footer
//
// Markup:
// <footer class="site-footer"></footer>

.site-footer {
    position: relative;
    padding-top: 40px;

    @media print {
        border-top: 1px solid $creamy-darker;
    }

    a {
        color: #fff;
        text-decoration: underline;

        &::before {
            margin-right: 5px;
        }

        &:hover {
            color: #fff;
            text-decoration: underline;
        }
    }
}

.site-footer-fun-facts {
    position: relative;
    height: 150px;
    width: 100%;

    @media print {
        display: none;
    }
}

.site-footer-content {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $palette-red-4;
    color: #fff;
    letter-spacing: .8px;
    font-size: $footer-base-font-size;
    font-weight: 300;

    @media print {
        padding-top: 0;
    }

    .row + .row {
        margin-top: 20px;
    }

    strong {
        font-weight: 500;
    }
}

.footer-emblem {
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 150px;
    width: auto;

    .st0 {
        fill: $palette-red-4;
    }

    .st1 {
        fill: #fff;
    }
}

@media screen and (max-width: ($container-max-width + 70)) {
    .site-footer-content {
        padding-left: 35px;
    }
}

#google-translate-element {
    margin-top: 2px;
    padding: 8px 10px;
    background-color: darken($palette-red-4, 10%);

    @media print {
        display: none;
    }

    select {
        color: $text-default;
        background-color: #fff;
        border: none;
        padding: 5px;
    }

    .goog-te-gadget {
        color: lighten($palette-red-4, 50%);
    }

    .goog-logo-link {
        color: lighten($palette-red-4, 50%);
    }
}

@media print {
    .service-area {
        display: none;
    }
}