.dataTables_wrapper {
    background-color: $creamy;
    border: 1px solid $creamy-darker;

    .dataTables_length {
        float: left;
        font-size: $table-length-font-size;
        padding: 15px;

        select {
            @include input-style();
            width: 80px;
            padding: 4px;
            margin-right: 5px;
            margin-left: 5px;
        }
    }

    .dataTables_filter {
        float: right;
        font-size: $table-length-font-size;
        padding: 15px;

        input {
            @include input-style();
            margin-left: 8px;
            padding: 5px;
            width: 200px;
        }
    }

    .dataTables_info,
    .dataTables_paginate {
        font-size: $table-length-font-size;
        padding: 15px;
    }

    .dataTables_paginate {
        text-align: right;
        float: right;

        a.disabled {
            display: none;
        }

        a + a {
            margin-left: 10px;
        }
    }

    table.dataTable {
        clear: both;
        width: 100%;

        caption a {
            display: block;
            background-color: $creamy-darker;
            color: $text-default;
            font-size: $table-length-font-size;
            padding: 5px 10px;
            text-decoration: none;
            text-align: center;

            &::before {
                @include hbg-icon("\f14b");
                margin-right: 5px;
            }

            &:hover {
                background-color: darken($creamy-darker, 6%);
            }
        }

        thead {
            background: $palette-red-2;
            position: relative;
            z-index: 2;
            left: -1px;
            box-shadow: 2px 0 0 $palette-red-2; 

            td, th {
                color: #fff;
                font-weight: bold;
                letter-spacing: .5px;
                font-size: $table-thead-font-size;
                line-height: 100%;
                padding: 10px;
                text-align: left;
            }

            .sorting {
                position: relative;

                &::after {
                    @include hbg-icon("\f0dc");
                    position: absolute;
                    right: 5px;
                    top: 10px;
                }
            }

            .sorting_asc {
                position: relative;

                &::after {
                    @include hbg-icon("\f0de");
                    position: absolute;
                    right: 5px;
                    top: 10px;
                }
            }

            .sorting_desc {
                position: relative;

                &::after {
                    @include hbg-icon("\f0dd");
                    position: absolute;
                    right: 5px;
                    top: 10px;
                }
            }
        }

        tbody {
            font-size: $table-tbody-font-size;
            background-color: #fff;
            border-bottom: 1px solid $creamy-darker;

            &:nth-child(odd) {
                //background-color: scale-color($gray-3, $lightness: 70%);
            }

            tr + tr {
                border-top: 1px solid $creamy-darker;
            }

            td {
                padding: 5px 10px;
            }

            td + td {
                border-left: 1px solid $creamy-darker;
            }
        }
    }
}