.table {

}

article + .table {
    margin-top: 15px;
}

.table + article {
    margin-top: 15px;
}

.table-opening-hours {
    width: 100%;

    td {
        padding: 0;
        margin: 0;
    }

    tr {
        td:last-child {
            text-align: right;
        }
    }
}