// A list of tesears with icon, short text and link
//
// Markup:
// <ul class="row teasers">
//    <li class="columns large-4">
//        <i class="fa fa-comment-o"></i>
//        <h3>Headline</h3>
//        <p>Intro text</p>
//        <button class="btn btn-plain">Button link</button>
//     </li>
// </ul>

.teaser {
    color: $text-gray-dark;
    text-align: center;

    li {
        text-align: center;
    }

    h3 {
        margin-bottom: 0;
    }

    p {
        color: #606060;
        margin-bottom: 10px;
    }

    .fa {
        font-size: 53px;
        margin-bottom: 10px;
    }
}