// Display propterties
//
// .inline-block
//
// Markup:
// <div class="{{modifier_class}}"></div>

.inline-block {
    display: inline-block;
}

.hidden {
    display: none;
}

.hide-for-mobile-menu-only {
    @media #{$bp-mobile-menu-down} {
        display: none !important;
    }
}

.mobile-menu-12 {
    @media #{$bp-mobile-menu-down} {
        width: 100%;
    }
}

.relative {
    position: relative;
}

// Padding
//
// .padding-x1          - 10px padding
// .padding-x2          - 20px padding
//
// Markup:
// <div class="{{modifier_class}}">The content</div>

.padding-x1 {
    padding: 10px !important;
}

.padding-x1-5 {
    padding: 15px !important;
}

.padding-x2 {
    padding: 20px !important;
}

// Removes any padding and margin from any element
//
// Markup:
// <h1 class="no-margin-padding">Headline withour margin and padding</h1>

.no-margin-padding {
    padding: 0;
    margin: 0;
}

// Centers an element vertically by using position absolute.
// Make sure parent has position: relative;
//
// .center-vertical-rel         - Uses position: relative; instead of absolute
//
// Markup:
// <div class="parent-element">
//      <div class="center-vertical">This will be vetically centered in the parent-element</div>
// </div>

.center-vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.center-vertical-rel {
    position: relative;
}

// Centers an element inside its parent
// Make sure parent has position: relative;
//
//
// Markup:
// <div class="parent-element">
//      <div class="center-in-parent">This will be vetically centered in the parent-element</div>
// </div>

.center-in-parent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

// Creamy colored section with border top and bottom
// Can be used on any type of element
//
// Markup:
// <section class="creamy"></section>

.creamy {
    padding-top: 40px;
    padding-bottom: 40px;
    background: $creamy;
    border: 1px solid $creamy-darker;
}

// Text modifiers
//
// .text-lg         - Large text
// .text-magenta    - Magenta colored text
//
// Markup:
// <span class="{{modifier_class}}">The text</span>

.text-lg {
    font-size: $text-lg-font-size;
}

.text-highlight {
    color: $palette-red-2;
}

// Better font rendering for Font Awesome icon
//
// .fa-XXXXXX           - Font Awesome icon class
//
// Markup:
// <i class="fa {{modifier_class}}"></i>

.fa {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Disable scrolling on any element
//
// Markup:
// <body class="no-scrolling">

.no-scroll {
    overflow: hidden;
}

// Loading indicator HBG
//
// .hbg-loading-sm          - Smaller sized dots
//
// Markup:
// <i class="hbg-loading {{modifier_class}}>Optional text</i>

.hbg-loading {
    display: block;
    width: auto;
    height: 100%;
    min-height: 67px;
    min-width: 70px;
    padding-top: 67px;
    margin: 20px;
    background-color: #fff;
    background-image: url('../../../assets/images/loading-icon.gif');
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
    font-size: $hbg-loading-font-size;
    font-weight: normal;
    font-style: normal;
    color: $text-gray-light;
}

.hbg-loading-sm {
    $size: 40px;
    min-width: $size;
    min-height: $size;
    width: $size;
    height: $size;
    padding: 0;
    background-size: 100%;
}

// Loading indicator, three blinking dots
//
// .dots-loading-sm          - Smaller sized dots
//
// Markup:
// <i class="dots-loading {{modifier_class}}"></i>

.dots-loading {
    $dots-size: 12px;
    $dots-space: 3px;

    position: relative;
    display: inline-block;
    width: $dots-size;
    height: $dots-size;
    border-radius: 50%;
    background: rgba(#fff, .5);
    animation: blink 1.5s .33s ease-in-out infinite;

    &::before {
        content: '';
        position: absolute;
        left: -($dots-size + $dots-space);
        width: $dots-size;
        height: $dots-size;
        border-radius: 50%;
        background-color: rgba(#fff, .5);
        animation: blink 1.5s 0s ease-in-out infinite;
    }

    &::after {
        content: '';
        position: absolute;
        right: -($dots-size + $dots-space);
        width: $dots-size;
        height: $dots-size;
        border-radius: 50%;
        background-color: rgba(#fff, .5);
        animation: blink 1.5s .66s ease-in-out infinite;
    }
}

.dots-loading-sm {
    $dots-size: 10px;
    $dots-space: 3px;

    width: $dots-size;
    height: $dots-size;

    margin-left: $dots-size + $dots-space;
    margin-right: $dots-size + $dots-space;

    &::before {
        left: -($dots-size + $dots-space);
        width: $dots-size;
        height: $dots-size;
    }

    &::after {
        right: -($dots-size + $dots-space);
        width: $dots-size;
        height: $dots-size;
    }
}

@keyframes blink {
    0% {
        background-color: rgba(#fff, .5);
    }
    50% {
        background-color: rgba(#fff, 1);
    }
    100% {
        background-color: rgba(#fff, .5);
    }
}

// Make any element display as inline-block
//
// .inline-block

.inline-block {
    display: inline-block;
}

.btn-mobile-menu {
    height: 30px;
}

// Hamburger menu icon
//
// Markup:
// <i class="hbg-hamburger"></i>

.hbg-hamburger {
    $bar-height: 4px;
    $bar-radius: 4px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: $bar-height;
    width: 25px;
    border-radius: $bar-radius;
    background-color: $palette-red-4;
    transition: all .2s;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: -$bar-height * 2;
        height: $bar-height;
        width: 100%;
        border-radius: $bar-radius;
        background-color: $palette-red-4;
        transition: all .2s;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: $bar-height * 2;
        height: $bar-height;
        width: 100%;
        border-radius: $bar-radius;
        background-color: $palette-red-4;
        transition: all .2s;
    }

    &.open,
    .open & {
        height: 0;
        margin-top: -3px;

        &::before {
            top: 0;
            transform: rotate(45deg);
        }

        &::after {
            top: 0;
            transform: rotate(-45deg);
        }
    }
}

// Easy to read icon
//
// Markup:
// <i class="hbgic-easy-to-read"></i>

.hbgic-easy-to-read {
    width: 17px;
    height: 17px;
    margin-top: 1px;
    vertical-align: middle;
    position: relative;
    font-family: 'Arial', 'Verdana', 'Tahoma';
    font-weight: bold;

    &::before {
        content: 'L';
        position: absolute;
    }

    &::after {
        content: 'L';
        position: absolute;
        bottom: 5px;
        left: 5px;
    }
}

li.icon-easy-to-read a {
    position: relative;

    &::before {
        content: 'L';
        $space: 4px;
        text-shadow: -$space $space 0 $text-default;
        position: absolute;
        top: -3px;
        left: -13px;
        vertical-align: middle;
        font-family: 'Arial', 'Verdana', 'Tahoma';
        font-size: 10pt;
        font-weight: bold;
        text-decoration: none !important;
        margin-right: 3px;
    }
}

li.icon-sign-lang a {
    background-image: url('../../images/icons/sign-lang.svg');
    background-repeat: no-repeat;
    background-size: 19%;
    background-position: left center;
    padding-left: 20px;
}

// Resonsive images

img[data-lazyload] {
    max-width: none;
    width: 100%;
    height: 150px;
}

// Alignment

img {
    @media #{$medium-up} {
        &.alignleft {
            float: left;
            margin-right: 15px;
            margin-bottom: 15px;
            margin-top: 0px;
        }

        &.alignright {
            float: right;
            margin-top: 0;
            margin-left: 15px;
            margin-bottom: 15px;
        }
    }
}