@use '../../../../vendor/helsingborg-stad/styleguide/source/sass/mixin/tokens' as tokens;
@use "sass:map";

.c-header.c-header--business {
    container-name: header-business;
    container-type: inline-size;

    .c-header__menu.c-header__menu--primary {
        padding-top: tokens.getCalculatedValue("", "space", 3);
        padding-bottom: tokens.getCalculatedValue("", "space", 3);

        @container header-business (min-width: 1248px) {
            padding-top: tokens.getCalculatedValue("", "space", 2);
            padding-bottom: tokens.getCalculatedValue("", "space", 2);
        }
    }
    
    .c-header__menu.c-header__menu--secondary {
        background-color: tokens.getRawValue("", "color--primary");

        .c-nav--depth-0 > .c-nav__item > .c-nav__link {
            color: white;
        }
    }
}
