@use "sass:map";
@use "@helsingborg-stad/styleguide/source/sass/mixin/mq";
@use "@helsingborg-stad/styleguide/source/sass/setting/variables";

$brand-height: calc(var(--c-header-logotype-height, 6) * #{variables.$base});
$brand-text-color: var(--c-header-brand-color, var(--color-black, #000));
$c-nav-h-color-contrasting: var(--c-nav-h-color-contrasting) !default;

//Spacing
.c-header .c-header__flex-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: calc((#{variables.$base} * 2));

    //Remove auto space between buttons, rely on gap
    .c-button + .c-button {
        margin-left: 0;
    }
}

// Logo
.c-header.c-header--business .c-logotype:not(.c-brand .c-logotype),
.c-header.c-header--casual .c-logotype:not(.c-brand .c-logotype) {
    display: block;
    width: auto;
    margin: auto;
    max-width: 50vw;
}

// Brand
.c-header .c-brand {
    line-height: 0; // Prevents space below svg.

    &__text {
        color: $brand-text-color;
    }

    &__viewbox {
        height: $brand-height;
        max-width: 100%;

        .c-brand__container {
            height: calc(variables.$base * 12.5);
        }
    }

    .c-brand__logotype {
        height: 100%;
    }
}

body.mega-menu-open.mega-menu-mobile {
    .c-header--sticky {
        height: 100%;
        width: 100%;
        overflow: auto;
        position: fixed;
    }
    &.sticky-header {
        overflow: hidden;
    }
}

#sticky-header {
    z-index: variables.$level-6;
}

/* Remove body scroll */
body.mega-menu-open {
    .c-header--sticky {
        &:not(.c-header--flexible) {
            height: 100%;
            width: 100%;
            overflow: auto;
            position: fixed;
        }

        &.c-header--flexible {
            .c-megamenu {
                max-height: unset;
                min-height: 100vh;
                position: absolute;
                padding-top: 0;
                padding-bottom: 0;
            }

            .c-megamenu__menu {
                max-height: calc(100vh - (variables.$base * 20));
                overflow: scroll;
                padding-bottom: calc(variables.$base * 4);
                padding-top: calc(variables.$base * 4);
            }
        }

        .c-megamenu {
            height: 100%;
            width: 100%;
            overflow: auto;
            position: fixed;
            max-height: calc(100vh - 120px);
        }

        .c-megamenu.c-megamenu--cover {
            min-height: calc(100vh - 120px);
        }
    }

    &.sticky-header {
        overflow: hidden;
    }
}

.site-header:not(.c-header--business) .s-header-button {
    .c-button__label {
        color: $c-nav-h-color-contrasting;
    }
}

@include mq.mq(map.get(variables.$breakpoints-map, "xs"), map.get(variables.$breakpoints-map, "md")) {
    #sticky-header {
        .c-nav {
            flex-direction: column;
        }
    }
}

@include mq.mq(md) {
    #sticky-header.c-header {
        position: sticky;
        top: 0;
        width: 100%;
    }

    .admin-bar {
        #sticky-header.c-header {
            top: 32px; 
        }
    } 
}