@use "sass:map";

.c-header.c-header--business {
    container-name: header-business;
    container-type: inline-size;

    .c-header__menu.c-header__menu--primary {
        padding-top: calc(var(--base) * 3);
        padding-bottom: calc(var(--base) * 3);

        @container header-business (min-width: 1248px) {
            padding-top: calc(var(--base) * 2);
            padding-bottom: calc(var(--base) * 2);
        }
    }
    
    .c-header__menu.c-header__menu--secondary {
        background-color: var(--color--secondary);

        .c-nav--depth-0 > .c-nav__item > .c-nav__link {
            color: white;
        }
    }
}
