/* Colors */
$c-quicklinks-background-color: var(--c-quicklinks-background-color, transparent) !default;
$c-quicklinks-background-sticky-color: var(--c-quicklinks-background-sticky-color, $c-quicklinks-background-color) !default;
$c-quicklinks-icon-color: var(--c-quicklinks-icon-color);
$c-quicklinks-icon-background-color: var(--c-quicklinks-icon-background-color) !default;
$c-quicklinks-text-color: var(--c-quicklinks-text-color);

/* Gap */
$c-quicklinks-gap: var(--c-quicklinks-gap, 2) !default;

#quicklinks-header {
    container-name: quicklinks;
    container-type: inline-size;
    margin-bottom: calc(var(--base) * 5);

    &.c-header--sticky {
        top: -1px;
        position: relative;
    }

    .c-nav {
        justify-content: space-evenly;
        gap: calc(var(--base) * $c-quicklinks-gap);

        .c-nav__link {

            &:hover {
                .c-nav__text {
                    text-decoration: underline;
                }
                
                .c-nav__icon {
                    outline: unset;
                }
            }
        }
    }

    .c-icon {
        padding: calc(var(--base) * 1.5);
        aspect-ratio: 1/1;
        border-radius: 50%;
    }

    &.c-header--column {
        padding: calc(var(--base) * .5) 0;

        .c-nav > li {
            flex: 1 0;
        }

        .c-nav {
            max-width: calc(var(--base) * 100);
            margin-left: auto;
            margin-right: auto;
        }

        .c-nav__link {
            padding: 0;
            display: flex;
            flex-direction: column;

            &::after {
                display: none;
            }

            .c-nav__icon {
                backface-visibility: hidden;
                transition: outline 100ms;
                outline: 0px solid;
            }

            &:hover {
                .c-nav__text {
                    text-decoration: none;
                }

                .c-nav__icon {
                    outline: 4px solid;
                }
            }
        }
    }

    &.c-header--overflow-top {
        transform: translateY(0px);

        @container quicklinks (min-width: 600px) {
            transform: translateY(-50%);

            &.c-header--sticky {
                top: calc(var(--base) * 6.5);
            }
        }
    }

    @container quicklinks (min-width: 300px) {
        &.c-header.c-header--sticky {
            position: sticky;

            &.c-header--column {
                padding: calc(var(--base) * 2) 0 calc(var(--base) * .5) 0;
            }
        }
    }
}

#main-content {
    #quicklinks-header.c-header--sticky .c-header__menu {
        @container quicklinks (min-width: 300px) {
            border-radius: 0;
            position: relative;
            left: 50%;
            right: 50%;
            transform: translateX(-50%);
            width: calc(100vw - var(--scrollbar, 15px));
        }
    }
}
