$user-background-width: var(--user-background-width, 0px) !default;

// General settings
.user {
    display: flex;
    align-items: center;
    gap: calc(var(--base) * 2);

    .user__link { 
        display: flex;
        align-items: center;
        gap: calc(var(--base) * 0.5);
        text-decoration: none;
    }
}

.user {
    padding-left: calc(var(--base) * 2);
    padding-right: calc(var(--base) * 2);

    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: $user-background-width;
        transition: width .3s;
        background-color: inherit;
        transform: translateX(calc(-1 * var(--base) * 2));
        z-index: -1;
    }  

    .user__button {
        min-width: 0;

        &:hover .c-button__label-text {
            color: var(--color--surface-contrast-muted);
        }
    }

    // User placed in the drawer
    &.user--drawer {
        position: sticky;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: calc(var(--base) * 2);
        margin-top: 100%;

        &.user--active .user__container {
            display: flex;
        }
    }

    // Logged in user
    &.user--active {
        .user__container {
            gap: calc(var(--base) * 0.25);
            display: flex;
        }

        .user__name {
            font-weight: bold;
            line-height: 1;
            max-width: calc(var(--base) * 25);
            overflow-wrap: break-word;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .user__link-text {
            font-size: var(--font-size-90);
        }

        .user__name {
            color: var(--color--surface-contrast);
        }
        
        .user__link {
            color: var(--color--surface-contrast);

            &:hover {
                color: var(--color--surface-contrast-muted);
            }
        }
    }
}
