[class^="sidebar-"] .widget_eventlistwidget {

    > .box-content {
        @extend .padding-x1;
        margin-top: -10px !important;
    }

    .event-item {
        display: block;
        width: 100%;
        text-decoration: none !important;
        padding: 0 10px !important;

        > span {
            display: block;
            border: none;
            margin: 0;
            padding: 0;
        }

        .date {
            font-size: $list-events-date-font-size !important;
            text-align: left;
            width: auto;

            span {
                display: inline;

                & + span {
                    margin-left: 5px;
                }
            }
        }
    }

    .list-more {
        margin: -16px;
        margin-top: 0;
        margin-top: 15px;
    }
}