.widget_hbghelpwidget .box-filled {
    display: table;
    width: 100%;
    padding: 10px 15px;
    background-color: $palette-red-3;
    color: #fff;

    .question {
        display: table-row;
        vertical-align: middle;

        strong {
            display: block;
            letter-spacing: .75px;
        }

        span {
            display: block;
            font-size: 80%;
            letter-spacing: .5px;
        }
    }

    .answers,
    .thanks {
        display: table-row;
        vertical-align: middle;

        .btn:not(input) {
            width: 70px;
            font-weight: bold;
            margin: 3px;
            margin-top: 10px;
        }
    }

    .thanks {
        display: none;
        font-weight: bold;
    }

    @media #{$medium-up} {
        .question {
            display: table-cell;
        }

        .answers,
        .thanks {
            display: table-cell;
            text-align: right;

            .btn:not(input) {
                margin-top: 3px;
            }
        }

        .thanks {
            display: none;
        }
    }
}

.sidebar-right .widget_hbghelpwidget .box-filled {
    @media #{$medium-up} {
        .question,
        .answers {
            display: table-row;
            text-align: left;
        }

        .question span {
            margin-bottom: 5px;
        }
    }
}