.sidebar-right,
.sidebar-left {
    .widget_image_list_widget {
        h3 {
            margin-bottom: 0;
        }

        .orbit-container {
            margin: 0;
        }

        .orbit-bullets {
            li {
                background-color: rgba(#fff, .5);

                &.active {
                    background-color: #fff;
                }
            }
            
        }
    }
}