.widget_sp_image {
    img {
        width: 100%;
        height: auto;
    }

    a {
        display: block;
        color: #fff;

        &:hover {
            color: rgba(255,255,255,0.7) !important;
        }
    }
}