[class^="sidebar-"] .widget_text {
    h2 {
        @extend h3;
        @extend .box-title;
        background-color: transparent;
        font-size: 15pt;
        margin: 0;
    }

    .textwidget {
        @extend .padding-x1-5;
        padding-top: 0 !important;
        color: #fff;
    }
}

.section-featured .widget_text,
.article-header .widget_text {
    .textwidget {
        @extend .box-content;
        @extend .padding-x2;
    }
}

.section-news .widget_text,
#widget-content-area .widget_text,
#widget-content-area-bottom .widget_text {
    .widgettitle {
        @extend h3;
        font-size: 15pt;
        padding: 0;
        padding-bottom: 5px;
        margin: 0;
        background-color: transparent;
        border-bottom: 4px solid $palette-red-2;
        color: $palette-red-2;
        font-weight: bold;

        .fa {
            margin-right: 5px;
        }

        .link-rss {
            float: right;
            color: #fff;

            .fa {
                margin-right: 0;
            }
        }
    }

    .textwidget {
        background: #fff;
        border-top: 0;
        border-bottom: 1px solid $creamy-darker;
        border-left: 1px solid $creamy-darker;
        border-right: 1px solid $creamy-darker;
        padding: 20px;
    }
}