.mod-menu__listing {
    .mod-menu__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        contain: paint;
    }

    .mod-menu__expand {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        padding-top: calc(var(--space) * var(--base) * 2.5);
        border-top: calc(var(--base) * var(--border-width)) solid var(--u-color--color-surface-border);

        &:hover .mod-menu__expand-content {
            text-decoration: underline;
        }
    }

    .mod-menu__child-icon,
    .mod-menu__heading-icon {
        text-wrap: nowrap;
    }

    .mod-menu__child-item,
    .mod-menu__heading-item {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .mod-menu__item-content {
        padding-bottom: calc(var(--space) * var(--base) * 2.5);
    }

    .mod-menu__expandable-wrapper {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.25s ease-in-out;
    }

    .mod-menu__children.mod-menu__children--hidden {
        overflow: hidden;
    }

    .mod-menu__expand-text-hidden {
        display: none;
    }

    .mod-menu__item.is-expanded {
        .mod-menu__children.mod-menu__children--hidden {
            overflow: unset;
        }

        .mod-menu__expand .mod-menu__expand-icon {
            transform: rotate(180deg);
        }
        .mod-menu__expandable-wrapper {
            grid-template-rows: 1fr;
        }

        .mod-menu__expand-text-hidden {
            display: block;
        }

        .mod-menu__expand-text:not(.mod-menu__expand-text-hidden) {
            display: none;
        }
    }

    // No better alternative!?
    .mod-menu__child-label {
        font-size: 1.125rem;
    }

    .mod-menu__wrapper {
        contain: paint;
        border-radius: calc(var(--border-radius, 1) * var(--base));
        corner-shape: var(--corner-shape);
        row-gap: calc(var(--outer-space) * var(--base) * 3);
        column-gap: calc(var(--outer-space) * var(--base) * 3);

        @container (min-width: 36em) {
            row-gap: calc(var(--outer-space) * var(--base) * 8);
            column-gap: calc(var(--outer-space) * var(--base) * 8);
        }
    }

    /* Modifiers */
    &.mod-menu__listing--spaced {
        .mod-menu__wrapper {
            contain: initial;
        }
    }

    &.mod-menu__listing--spaced,
    &.mod-menu__listing--wrapped {

        .mod-menu__wrapper {
            @container (min-width: 36em) {
                row-gap: calc(var(--outer-space) * var(--base) * 4);
                column-gap: calc(var(--outer-space) * var(--base) * 4);
            }
        }

        .mod-menu__expand {
            padding: calc(var(--space) * var(--base) * 2.5) calc(var(--base) * 3);
            background-color: var(--u-color--color-surface-alt);
        }

        .mod-menu__item {
            background-color: var(--u-color--color-surface);
            border: calc(var(--base) * var(--border-width)) solid var(--u-color--color-surface-border);
        }

        .mod-menu__item-content {
            padding: calc(var(--space) * var(--base) * 4) calc(var(--space) * var(--base) * 3);

            &.mod-menu__item-content--expandable {
                padding-bottom: calc(var(--space) * var(--base) * 1.5);
            }
        }
    }

    &.mod-menu__listing--wrapped {
        .mod-menu__wrapper {
            border: calc(var(--base) * var(--border-width)) solid var(--u-color--color-surface-border);
            row-gap: 0;
            column-gap: 0;
            background-color: var(--u-color--color-surface);
        }

        .mod-menu__item {
            margin: calc(var(--space) * var(--base) * var(--border-width) * -1);
        }
    }

    &.mod-menu__listing--spaced {
        .mod-menu__item {
            border-radius: calc(var(--border-radius, 1) * var(--base));
            corner-shape: var(--corner-shape);
        }
    }
}