/*@font-face {
    font-family: "Material Symbols Outlined";
    font-style: normal;
    font-weight: 100 700;
    font-display: block;
    src: url("~material-symbols/material-symbols-outlined.woff2") format("woff2");
}

.material-symbols-outlined {
    font-family: "Material Symbols Outlined";
    font-size: 20px;

    svg {
        height: 20px;
        width: 20px;
    }
}

i.material-symbols-outlined {
    font-style: normal;
}


*/ 