#major-publishing-actions {
    box-sizing: border-box;
    display: table;
    width: 100%;

    /* Publish */
    #publishing-action {
        display: table-header-group;
        float: none;
        position: relative;

        #publish {
            float: none;
            width: 100%;
            border-radius: 0;
            font-size: 15px;
            font-weight: bold;
            padding: 8px 0;
            height: auto;
            border-radius: 3px;
        }

        .spinner {
            position: absolute;
            background-color: #fff;
            border-radius: 50%;
            border: 1px solid #fff;
            opacity: 1;
            margin: 12px;
        }
    }

    /* Delete */
    #delete-action {
        display: block;
        float: none;
        text-align: center;
        padding-top: 10px;
    }
}

#minor-publishing-actions {
    padding: 10px 10px 5px;
}

#misc-publishing-actions {
    padding: 6px 0 5px 0;

    .misc-pub-section {
        border-top: 1px solid #eee;
        padding: 14px;
        border-radius: 3px;
    }

    #post-visibility-select {
        //display: block !important;
        margin-top: 10px;

        /*
        p:last-child {
            display: none;
        }
        */

        input[type="radio"] {
            display: none;
        }

        label.selectit:not([for="sticky"]) {
            display: block;
            text-align: center;
            padding: 5px;
            background-color: #fff;
            border: 1px solid #ddd;
            margin-bottom: 5px;
            border-radius: 3px;
        }

        label.selectit[for="visibility-radio-private"] {
            margin-bottom: 0;
        }

        input[type="radio"]:checked + label.selectit {
            background-color: #0085ba;
            border-color: #0073aa #006799 #006799;
            box-shadow: 0 1px 0 #006799;
            text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
            color: #fff;
            font-weight: bold;
        }

        input[type="radio"]:checked + label.selectit[for="visibility-radio-password"],
        .post-type-post input[type="radio"]:checked + label.selectit[for="visibility-radio-public"] {
            padding-bottom: 8px;
        }

        br {
            display: none;
        }

        #password-span,
        #sticky-span {
            background-color: #fff;
            border: 1px solid #036d91;
            margin-top: -8px;
            padding: 10px 12px 15px 12px;
            margin-bottom: 5px;
            border-radius: 0 0 3px 3px;
        }

        #post_password,
        #sticky-span {
            margin-left: 0;
        }

        #visibility-radio-password:checked + .selectit + br + #password-span {
            display: block;
        }

        #visibility-radio-public:checked + .selectit + br + #sticky-span {
            display: block;
        }

        #visibility-radio-private {
            margin-bottom: 7px;
        }

        label[for="sticky"] {
            display: block;
            float: right;
            width: calc(100% - 25px);
        }

        #sticky-span input[type="checkbox"] {
            margin-top: 1px;
        }

        #sticky-span br {
            display: inline;
            clear: both;
        }
    }

    #password-span,
    #sticky-span {
        display: none;
    }
}
