#unpublish-timestamp {
    &::before {
        @include hbg-icon('\f273');
        font-size: 19px;
        color: #82878C;
        margin-right: 4px;
    }
}

#unpublish-action {
    display: flex;
    width: 100%;
    border: 1px solid #ddd;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;

    label {
        flex: 1 1 auto;
        text-align: center;
        padding: 5px;
    }

    label:not(:first-of-type) {
        border-left: 1px solid #ddd;
    }

    input[type="radio"]:checked + label {
        background-color: #0085ba;
        border-color: #0073aa #006799 #006799;
        box-shadow: 0 1px 0 #006799;
        text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
        color: #fff;
        font-weight: bold;
    }

    input[type="radio"] {
        display: none;
    }
}
