.nav-accessibility.nav-horizontal {
    display: flex;
    align-items: center;

    li {
        margin-left: 16px;
        white-space: nowrap;
        &:first-of-type {
            margin-left: 0;
        }
    }
}