.site-header {
    .collapsible-search-form {
      $parent: &;
  
      position: relative;
  
      &__form {
        position: absolute;
        width: 0;
        top: calc(var(--base, 8px) * -0.5);
        right: 0;
        left: auto;
        transition: all 0.2s ease-in-out;
        transform-origin: center right;
        display: flex;
        padding: calc(var(--base, 8px) * .5);
        overflow: hidden;
        z-index: $level-2;
        opacity: 0;
  
        @media (max-width: 799px) {
          position: fixed;
          top: calc(var(--base, 8px) * 1.5);
        }
        
        &.open {
          width: calc(100% - calc(var(--base, 8px) * 3.5));
          opacity: 1;
  
          @media (min-width: 800px) {
            width: calc(var(--base, 8px) * 50);
          }
  
          @media (max-width: 799px) {
            right: calc(var(--base, 8px) * 2);
  
            #{$parent}__group {
              width: 100%;
            }
          }
        }
        
        &.closing {
          width: 0;
        }
      }
  
      &__group {
        position: relative;
        flex: 1;
        
        .c-field {
          flex: 1;
          min-width: 0;
  
          @media (min-width: 800px) {
            min-width: calc(var(--base, 8px) * 44);
          }
  
          .c-field_focus-styler {
            border-radius: calc(var(--base, 8px) * 6);
            outline-width: 3px;
          }
  
          input {
            padding-right: calc(var(--base, 8px) * 5);
            border-radius: calc(var(--base, 8px) * 6);
  
            &:focus {
              outline-style: none;
            }
          }
  
          &__inner {
            border-radius: calc(var(--base, 8px) * 6);
            background-color: $color-white;
          }
        }
      }
  
      &__submit-icon {
        appearance: none;
        background: transparent;
        border: 0;
        padding: 0;
        position: absolute;
        inset: 50% calc(var(--base, 8px) * 1.5) auto auto;
        transform: translateY(-50%);
        border-radius: 50%;
        outline-width: 3px;
        cursor: pointer;
      }
  
      &__close-button {
        appearance: none;
        background: transparent;
        border: none;
        padding: 0 calc(var(--base, 8px) * 1.5) 0 calc(var(--base, 8px) * 1);
        background-color: $color-secondary-light;
        outline-width: 3px;
        border-top-right-radius: calc(var(--base, 8px) * 6);
        border-bottom-right-radius: calc(var(--base, 8px) * 6);
        position: relative;
        cursor: pointer;
        z-index: -1;
  
        &::before {
          content: "";
  
          width: calc(var(--base, 8px) * 4);
          height: 100%;
          display: block;
          position: absolute;
          background-color: $color-secondary-light;
          inset: 0 100% 0 auto;
          z-index: -1;
        }
      }
    }
  
    .c-header__upper-left {
      .collapsible-search-form {
        &__form {
          transform-origin: center left;
          right: auto;
          left: 0;
        }
      }
    }
  
    .c-header__upper-center {
      .collapsible-search-form {
        &__form {
          transform-origin: center center;
          right: auto;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
  
  .admin-bar {
    .collapsible-search-form {
      position: relative;
    
      &__form {
        @media (max-width: 799px) {
          top: var(--wp-admin--admin-bar--height, 32px);
        }
      }
    }
}