.site-header {
    .collapsible-search-form {
      $parent: &;
  
      position: relative;
  
      &__form {
        position: absolute;
        width: 0;
        top: calc(var(--base, 8px) * -0.5);
        right: 0;
        left: auto;
        transition: all 0.2s ease-in-out;
        transform-origin: center right;
        display: flex;
        padding: calc(var(--base, 8px) * .5); //4px 6px before, can we use 4 overall? 
        overflow: hidden;
        z-index: $level-2; // Changed to use z-index var. 
        opacity: 0;
  
        @media (max-width: 799px) {
          position: fixed;
          top: calc(var(--base, 8px) * 1.5); // Use var
        }
        
        &.open {
          width: calc(100% - calc(var(--base, 8px) * 3.5)); // Use var before: 30, now 28
          opacity: 1;
  
          @media (min-width: 800px) {
            width: calc(var(--base, 8px) * 50); // Use var 400 now before: 404px
          }
  
          @media (max-width: 799px) {
            right: calc(var(--base, 8px) * 2); // Use var now: 16, before 15
  
            #{$parent}__group {
              width: 100%;
            }
          }
        }
        
        &.closing {
          width: 0;
        }
      }
  
      &__group {
        position: relative;
        flex: 1;
        
        .c-field {
          flex: 1;
          min-width: 0;
  
          @media (min-width: 800px) {
            min-width: calc(var(--base, 8px) * 44); // Use var before: 350px; now: 352px
          }
  
          .c-field_focus-styler {
            border-radius: 4rem;
            outline-width: 3px;
          }
  
          input {
            padding-right: calc(var(--base, 8px) * 5); // Use var before: 40px; now: 40px
            border-radius: 4rem;
  
            &:focus {
              outline-style: none;
            }
          }
  
          &__inner {
            border-radius: 4rem;
            background-color: #fff; // TODO: Use Not allowed to define static colors. 
          }
        }
      }
  
      &__submit-icon {
        appearance: none;
        background: transparent;
        border: 0;
        padding: 0;
        position: absolute;
        inset: 50% calc(var(--base, 8px) * 1.5) auto auto; // inset changed from 10px to 8px
        transform: translateY(-50%);
        border-radius: 50%;
        outline-width: 3px;
        cursor: pointer;
  
        &:disabled {
          opacity: .5;
        }
      }
  
      &__close-button {
        appearance: none;
        background: transparent;
        border: none;
        padding: 0 calc(var(--base, 8px) * 2) 0 calc(var(--base, 8px) * 1);
        background-color: #f5f5f5; //TODO: Not allowed to define static colors.
        outline-width: 3px;
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
        position: relative;
        cursor: pointer;
        z-index: -1;
  
        &::before {
          content: "";
  
          width: 3rem; //TODO: Use var
          height: 100%;
          display: block;
          position: absolute;
          background-color: #f5f5f5; //TODO: Not allowed to define static colors.
          inset: 0 100% 0 auto;
          z-index: -1;
        }
      }
    }
  
    .c-header__upper-left {
      .collapsible-search-form {
        &__form {
          transform-origin: center left;
          right: auto;
          left: 0;
        }
      }
    }
  
    .c-header__upper-center {
      .collapsible-search-form {
        &__form {
          transform-origin: center center;
          right: auto;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
  
  .admin-bar {
    .collapsible-search-form {
      position: relative;
    
      &__form {
        @media (max-width: 799px) {
          top: var(--wp-admin--admin-bar--height, 32px);
        }
      }
    }
}