// Logo
.c-header.c-header--business .c-logotype {
  height: calc(#{$base} * 6.5);

  @include mq('xs') {
    height: calc(#{$base} * 6);
  }

  @include mq('md') {
    height: calc(#{$base} * 7);
  }

  @include mq('lg') {
    height: calc(#{$base} * 9);
  }
}


.c-header.c-header--business {

    .c-header__menu.c-header__menu--primary {
        border-bottom: solid 1px $color-lighter;
        padding-top: map-get($spacers, "3");
        padding-bottom: map-get($spacers, "3");

        @include mq('xs') {
            padding-top: map-get($spacers, "2");
            padding-bottom: map-get($spacers, "2"); 
        }
    }
    .c-header__menu.c-header__menu--secondary {
        background-color: $color-primary;

        .c-nav .c-nav__link, 
        a {
            color: white;
        }
    }

}
