//Spacing
.c-header .c-header__flex-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: calc((#{$base} * 4));

    //Remove auto space between buttons, rely on gap
    .c-button + .c-button {
        margin-left: 0;
    }
}

// Logo
.c-header.c-header--business .c-logotype,
.c-header.c-header--casual .c-logotype {
    display: block;
    width: auto;
    margin: auto;
    max-width: 50vw;
}

.c-header.c-header--business .mobile-menu-trigger,
.c-header.c-header--casual .mobile-menu-trigger {
    margin-right: calc((#{$base} * 2) / -1);
}

.hamburger-menu-trigger__close {
    display: none;
}

body.hamburger-menu-open.hamburger-menu-mobile {
    .c-header--sticky {
        height: 100%;
        width: 100%;
        overflow: auto;
        position: fixed;
    }
    &.sticky-header {
        overflow: hidden;
    }
}

#sticky-header {
    z-index: $level-6;
}

@include mq(map_get($breakpoints-map, "xs"), map_get($breakpoints-map, "md")) {
    #sticky-header {
        .c-nav {
            flex-direction: column;
        }
    }
}

@include mq(md) {
    #sticky-header.c-header {
        position: sticky;
        top: 0;
        width: 100%;
    }

    .admin-bar {
        #sticky-header.c-header {
            top: 32px; 
        }
    } 
}

@include mq(lg) {
    body.hamburger-menu-open {
        .c-header--sticky {
            height: 100%;
            width: 100%;
            overflow: auto;
            position: fixed;

            .c-hamburgermenu {
                height: 100%;
                width: 100%;
                overflow: auto;
                position: fixed;
            }
        }

        &.sticky-header {
            overflow: hidden;
        }
    }
}
