// Logo
.c-header.c-header--business .c-logotype,
.c-header.c-header--casual .c-logotype {
  display: block;
  height: calc(#{$base} * 6.5);
  width: auto;

  @include mq('xs') {
    height: calc(#{$base} * 6);
  }

  @include mq('md') {
    height: calc(#{$base} * 7);
  }

  @include mq('lg') {
    height: calc(#{$base} * 9);
  }
}