// Logo
.c-header.c-header--business .c-logotype,
.c-header.c-header--casual .c-logotype {
    display: block;
    width: auto;
    margin: auto;
}

.c-header.c-header--business .mobile-menu-trigger,
.c-header.c-header--casual .mobile-menu-trigger {
    margin-right: calc((#{$base} * 2) / -1);
    color: $color-black;
}

.hamburger-menu-trigger__close {
    display: none;
}

.c-header.hamburger-menu-open {
    .hamburger-menu-trigger__label {
        display: none;
    }
    .hamburger-menu-trigger__close {
        display: block;
    }

    &.c-header--sticky {
        height: 100%;
        width: 100%;
        overflow: auto;
        position: fixed;
    }
}

#sticky-header {
    z-index: $level-6;
}

@include mq(map_get($breakpoints-map, "xs"), map_get($breakpoints-map, "md")) {
    #sticky-header {
        .c-nav {
            flex-direction: column;
        }
    }
}

@include mq(md) {
    #sticky-header.c-header {
        position: sticky;
        top: 0;
        width: 100%;
    }

    .admin-bar {
        #sticky-header.c-header {
            top: 32px; 
        }
    } 
}