// Logo
.c-header.c-header--casual .c-logotype {
  height: calc(#{$base} * 6);

  @include mq('xs') {
    height: calc(#{$base} * 4);
  }

  @include mq('md') {
    height: calc(#{$base} * 5);
  }

  @include mq('lg') {
    height: calc(#{$base} * 6);
  }
}

.c-header.c-header--casual .c-header__menu {
  padding: calc(var(--base, 8px)*2) 0; 
}