.c-header.c-header--business {

    .c-header__menu.c-header__menu--primary {
        padding-top: map-get($spacers, "3");
        padding-bottom: map-get($spacers, "3");

        @include mq('xs') {
            padding-top: map-get($spacers, "2");
            padding-bottom: map-get($spacers, "2"); 
        }
    }
    
    .c-header__menu.c-header__menu--secondary {
        background-color: $color-primary;

        .c-nav--depth-0 > .c-nav__item > .c-nav__link {
            color: white;
        }
    }
}
