$brand-height: calc(var(--c-header-logotype-height, 6) * #{$base});
$brand-text-color: var(--c-header-brand-color, var(--color-black, #000));

//Spacing
.c-header .c-header__flex-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: calc((#{$base} * 2));

    //Remove auto space between buttons, rely on gap
    .c-button + .c-button {
        margin-left: 0;
    }
}

// Logo
.c-header.c-header--business .c-logotype:not(.c-brand .c-logotype),
.c-header.c-header--casual .c-logotype:not(.c-brand .c-logotype) {
    display: block;
    width: auto;
    margin: auto;
    max-width: 50vw;
}

// Brand
.c-header .c-brand {
    line-height: 0; // Prevents space below svg.

    &__text {
        color: $brand-text-color;
    }

    &__viewbox {
        height: $brand-height;
        max-width: 100%;

        @include mq('xs') {
            height: clamp(calc(#{$base} * 3), calc($brand-height * 0.65), $brand-height);
        }
    
        @include mq('md') {
            height: clamp(calc(#{$base} * 3), calc($brand-height * 0.75), $brand-height);
        } 
    
        @include mq('lg') {
            height: $brand-height;
        }
    }

    .c-brand__container,
    .c-brand__logotype {
        height: 100%;
    }
}

.hamburger-menu-trigger__close {
    display: none;
}

body.hamburger-menu-open.hamburger-menu-mobile {
    .c-header--sticky {
        height: 100%;
        width: 100%;
        overflow: auto;
        position: fixed;
    }
    &.sticky-header {
        overflow: hidden;
    }
}

#sticky-header {
    z-index: $level-6;
}

@include mq(map_get($breakpoints-map, "xs"), map_get($breakpoints-map, "md")) {
    #sticky-header {
        .c-nav {
            flex-direction: column;
        }
    }
}

@include mq(md) {
    #sticky-header.c-header {
        position: sticky;
        top: 0;
        width: 100%;
    }

    .admin-bar {
        #sticky-header.c-header {
            top: 32px; 
        }
    } 
}

@include mq(lg) {
    body.hamburger-menu-open {
        .c-header--sticky {
            height: 100%;
            width: 100%;
            overflow: auto;
            position: fixed;

            .c-hamburgermenu {
                height: 100%;
                width: 100%;
                overflow: auto;
                position: fixed;
            }
        }

        &.sticky-header {
            overflow: hidden;
        }
    }
}
