.site-language-menu {
    position: relative;
    z-index: $level-6;

    .site-language-menu__card {
        position: absolute;
        display: none;
        width: calc(#{$base} * 34);
        top: 100%;
        right: 0;

        @media screen and (max-width: 600px) {
            position: fixed;
            width: 100%;
            height: 100%;
            right: 0;
            top: unset;
        }
    }

    .site-language-menu__default_lang {
        &.c-button {
            padding-left: calc(#{$base} * 2);
            padding-right: calc(#{$base} * 2);
        }
        .c-button__label {
            justify-content: start;
            font-size: 1rem;
            font-weight: normal;
        }
    }

    .site-language-menu__more {
        border-width: 1px 0 1px 0;
        border-style: solid;
        border-color: $color-lighter;

        .c-icon {
            transition: transform 300ms ease-in-out;
        }

        &,
        &:hover {
            text-decoration: none;
            color: $color-darkest;
        }

        &:hover .c-icon {
            transform: translateX(calc(var(--base, 8px) * -0.5));
        }
    }

    &.is-expanded {
        .site-language-menu__card {
            display: block;
            animation: site-language-menu-popout 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }
    }
}

@keyframes site-language-menu-popout {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }

    30% {
        opacity: 1;
        transform: translateY(0%);
    }

    55% {
        transform: translateY(5%);
    }

    100% {
        transform: translateY(0%);
    }
}