/* Colors */
$c-quicklinks-background-color: var(--c-quicklinks-background-color);
$c-quicklinks-background-sticky-color: var(--c-quicklinks-sticky-background-color);
$c-quicklinks-icon-color: var(--c-quicklinks-icon-color);
$c-quicklinks-icon-background-color: var(--c-quicklinks-icon-background-color) !default;
$c-quicklinks-text-color: var(--c-quicklinks-text-color);

/* Gap */
$c-quicklinks-gap: var(--c-quicklinks-gap, 2) !default;

/* Alignment */
$c-quicklinks-alignment: var(--c-quicklinks-alignment, space-evenly) !default;


#quicklinks-header {
    z-index: $level-5;
    padding-top: calc($base * 2);
    padding-bottom: calc($base * 2);

    background-color: #{$c-quicklinks-background-color};

    &.c-header--primary {
        --c-quicklinks-background-color: #{$color-white};
    }

    &.c-header--secondary {
        --c-quicklinks-background-color: #{$color-secondary};
    }

    &.c-header--sticky {
        top: -1px;
        &.is-stuck {
            background-color: #{$c-quicklinks-background-sticky-color};
        }
    }

    .c-nav {
        justify-content: $c-quicklinks-alignment;
        gap: calc($base * $c-quicklinks-gap);

        .c-nav__link {
            color: #{$c-quicklinks-text-color};
        }
        .c-icon {
            color: #{$c-quicklinks-icon-color};
            background-color: #{$c-quicklinks-icon-background-color};
            padding: calc($base * 1.5);
            aspect-ratio: 1/1;
            border-radius: 50%;
            filter: $drop-shadow-2;
        }
    }

    &.c-header--column {
        .c-nav__link {
            padding: 0;
            display: flex;
            flex-direction: column;

            &::after {
                display: none;
            }
        }
    }

    &.c-header--overflow-top {
        transform: translateY(0px);
        
        @include mq('md') {
             transform: translateY(-50%);

            &.c-header--sticky {
                top: calc($base * 6.5); 
            }
        }
    }
}