$c-nav-h-gap: var(--c-nav-f-gap, 2) !default;
$c-nav-h-alignment: var(--c-nav-f-alignment, space-evenly) !default;

/* colors */
$c-nav-f-background-color: var(--c-nav-f-background-color, $color-white) !default;
$c-nav-f-scroll-background-color: var(--c-nav-f-scroll-background-color, $color-white) !default;
$c-nav-f-text-color: var(--c-nav-f-text-color, $color-primary) !default;
$c-nav-f-icon-color: var(--c-nav-f-icon-color, $color-white) !default;
$c-nav-f-icon-background-color: var(--c-nav-f-icon-background-color, $color-primary) !default;

#quicklinks-header {
    background-color: $c-nav-f-background-color;
    z-index: $level-5;
    padding-top: calc($base * 2);
    padding-bottom: calc($base * 2);

        &.c-header--sticky {
            top: -1px;
            &.is-stuck {
                background-color: $c-nav-f-scroll-background-color;
            }
        }

    .c-nav {
        justify-content: $c-nav-h-alignment;
        gap: calc($base * $c-nav-h-gap);
    }

    &.c-header--column {
        .c-nav__link {
            padding: 0;
            display: flex;
            flex-direction: column;

            &::after {
                display: none;
            }
        }
    }

    &.c-header--overflow-top {
        transform: translateY(0px);
        
        @include mq('md') {
             transform: translateY(-50%);

            &.c-header--sticky {
                top: calc($base * 6.5); 
            }
        }
    }
    .c-icon {
        background-color: $c-nav-f-icon-background-color;
        color: $c-nav-f-icon-color;
        padding: calc($base * 1.5);
        border-radius: 50%;
        filter: $drop-shadow-2;
        aspect-ratio: 1/1;
    }
    .c-nav__link::after {
        display: none;
    }
}