@mixin hbg-icon($icon: $home, $iconset: #{'FontAwesome'}) {
    font-family: $iconset;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    content: $icon;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
