a.dropdown-open:focus {
    text-decoration: none !important;
}

.login-dropdown {
    color: $base-font-color;
    min-width: 250px;
    left: auto;
    right: 0;
    top: 100%;
    border-top: none;

    @media #{$screen-below-md} {
        left: 0;
        margin-top: 0 !important;

        &::before,
        &::after {
            display: none !important;
        }
    }
}

.walkthrough {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: -7px;
    z-index: $level-9;

    .dropdown-menu {
        color: $base-font-color;
        margin-left: -14px !important;
        margin-top: 5px !important;
        width: 350px;

        @media #{$screen-below-md} {
            position: fixed;
            top: auto;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            margin: 0 !important;
            border-left: none !important;
            border-right: none !important;
            border-radius: 0 !important;

            &::after,
            &::before {
                display: none !important;
            }
        }

        footer {
            margin-top: 10px;
        }

        [data-action="walkthrough-cancel"] {
            float: right;
            padding: 7.5px 15px;
            opacity: .6;
            color: $base-font-color;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.walkthrough-highlight {
    z-index: 999999999;
    position: relative !important;
}

.walkthrough-center {
    left: 50%;
    transform: translateX(-50%);

    .blipper {
        left: 50%;
        margin-left: -7px;
    }
}

.walkthrough-top-center {
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    .blipper {
        left: 50%;
        margin-left: -7px;
    }
}

.walkthrough-right {
    right: 0;
}

.walkthrough-top-right {
    top: 0;
    right: 0;
}

.walkthrough-top-left {
    top: 0;
    left: 0;
}

.walkthrough-dropdown-right {
    .dropdown-menu {
        left: auto;
        right: calc(100% - 24px);

        &::before,
        &::after {
            left: auto;
            right: 6px;
        }
    }
}

.walkthrough-dropdown-center {
    .dropdown-menu {
        left: calc(50% + 14px);
        transform: translateX(-50%);

        &::before,
        &::after {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
