.slider {
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;

    li {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    li.current {
        display: block;
    }

    img {
        @include center();
        z-index: 1;
        width: 100%;
        height: auto;
    }

    [data-slider] {
        @include center(false, true);
        z-index: 100;
    }

    [data-slider="next"] {
        right: 20px;
    }

    [data-slider="prev"] {
        left: 20px;
    }

    .content {
        transform: translateY(-32%) !important;
    }
}

.slider-in {
    animation: slider-in 1s ease-in-out;
    z-index: 9;
}

.slider-out {
    display: block !important;
    z-index: 8;
    animation: slider-out 1s ease-in-out forwards;
}

@keyframes slider-in {
    from {
        transform: scale(1.2);
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slider-out {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.8);
        opacity: 0;
    }
}
