@use "@helsingborg-stad/styleguide/source/sass/mixin/mq";
@use "@helsingborg-stad/styleguide/source/sass/setting/variables";

.t-403 {
    min-height: 80vh;
    display: grid; 
    align-items: center; 
    row-gap: calc(#{variables.$base} * 4);
    align-content: center;
    max-width: 800px;
  
    &--has-error-backdrop:after {
      position: absolute;
      bottom: 0; 
      right: 0;
      color: #eee; 
      font-size: calc(100px + 20vw);
      content: '403'; 
      z-index: -1;
      font-weight: bold;
      filter: blur(10px);
    }
  
    .c-typhography--403-heading {
      z-index: variables.$level-2;
      color: variables.$color-primary;
  
      @include mq.mq(md) {
        font-size: 3rem;
      }
    }
  
    .c-typhography--403-subheading {
      z-index: variables.$level-2;
      font-size: 1.2rem;
    }
  
    .t-403__buttons {
      z-index: variables.$level-2;
    }
  
  }