.t-404 {
  min-height: 80vh;
  display: grid; 
  align-items: center; 
  row-gap: calc(var(--base) * 4);
  align-content: center;
  max-width: 800px;
  margin-bottom: 5%;
  margin-top: 5%;

  &--has-error-backdrop:after {
    position: absolute;
    bottom: 0; 
    right: 0;
    color: #eee; 
    font-size: calc(100px + 20vw);
    content: '404'; 
    z-index: -1;
    font-weight: bold;
    filter: blur(10px);
  }
}