/* Accessibility warnings */
body.user-can-upload_files {
  [data-a11y-error] {
    position: relative;
    outline: .25rem solid #b42318;
    outline-offset: .25rem;
  }

  [data-a11y-error]:after {
    content: "[ ! ] " attr(data-a11y-error);
    padding: .25rem .5rem;
    background: #b42318;
    color: #fff;
    position: absolute;
    top: auto;
    right: 0;
    bottom: calc(100% + .5rem);
    inline-size: max-content;
    max-inline-size: 20rem;
    font-size: 1rem;
    border-radius: .25rem;
    border: .125rem solid #fff;
    box-shadow: 0 .125rem .25rem rgba(#000, .35);
    line-height: 1.5;
    overflow-wrap: anywhere;
    pointer-events: none;
    text-align: left;
    white-space: normal;
    z-index: 1;

    @media (max-width: 20.99rem) {
      max-inline-size: calc(100vw - 16px);
    }
  }

  [data-a11y-error][data-tooltip-initialized]:after {
    content: "[ ! ]";
    top: -.5rem;
    right: -.5rem;
    bottom: auto;
    inline-size: auto;
    max-inline-size: none;
    white-space: nowrap;
  }
}

/* Accessibility page styles */
.t-a11y-page {
  .t-a11y-pill {
    cursor: help;
    contain: layout;
    position: relative;
    display: inline-block;
    padding: calc(var(--base, 8px) / 4) calc(var(--base, 8px));
    border-radius: var(--border-radius-md, 4px);
    margin-right: 0.5em;

    span {
      position: relative;
      display: flex;
      align-items: center;
      gap: calc(var(--base, 8px) / 2);
    }
  }
}

.screen-reader-text {
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal!important
}

.screen-reader-text:focus {
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    padding: 15px 23px 14px;
    position: absolute;
    width: auto;
    z-index: 100000; /* Above WP Admin Bar if present */
}
