/* Accessibility warnings */
body.user-can-upload_files {
  [data-a11y-error] {
    position: relative;
    outline: 3px solid #b42318;
    outline-offset: 2px;
  }

  [data-a11y-error]:after {
    content: "[ ! ] " attr(data-a11y-error);
    padding: 4px 8px;
    background: #b42318;
    color: #fff;
    position: absolute;
    top: auto;
    right: 0;
    bottom: calc(100% + 6px);
    inline-size: max-content;
    max-inline-size: 20rem;
    font-size: .8em;
    border-radius: 3px;
    border: 2px solid #fff;
    box-shadow: 0 1px 3px rgba(#000, .35);
    line-height: 1.6em;
    overflow-wrap: anywhere;
    pointer-events: none;
    text-align: left;
    white-space: normal;
    z-index: 1;

    @media (max-width: 20.99rem) {
      max-inline-size: calc(100vw - 16px);
    }
  }
}

/* Accessibility page styles */
.t-a11y-page {
  .t-a11y-pill {
    cursor: help;
    contain: layout;
    position: relative;
    display: inline-block;
    padding: calc(var(--base, 8px) / 4) calc(var(--base, 8px));
    border-radius: var(--border-radius-md, 4px);
    margin-right: 0.5em;

    span {
      position: relative;
      display: flex;
      align-items: center;
      gap: calc(var(--base, 8px) / 2);
    }
  }
}

.screen-reader-text {
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal!important
}

.screen-reader-text:focus {
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    padding: 15px 23px 14px;
    position: absolute;
    width: auto;
    z-index: 100000; /* Above WP Admin Bar if present */
}
