.c-article {
    h1:first-child {
        --inherit-margin-top: -0.25em;
    }
    p {
        max-width: 904px;
    }
    figure {
        max-width: 100%;
    }
    [class^="mod-"] figure {
        margin-top: 0;
    }
}
