@use "sass:map";

.c-comment + .comment-respond {
    contain: layout;
    margin-left: calc(var(--space) * 8);
}

.comment-respond .cancel-comment-reply-link {
    position: absolute;
    top: calc(var(--space) * 3); 
    right: calc(var(--space) * 1);
    z-index: 1;
    display: none;
}

.comment__conversation {
    display: flex;
    flex-direction: column;
    gap: calc(var(--space) * 2);
    margin-top: calc(var(--space) * 4);
}

.comment__conversation .comment-respond .cancel-comment-reply-link {
    display: flex;
}