@use "../../../vendor/helsingborg-stad/styleguide/source/sass/mixin/tokens" as tokens;

.c-logotype--emblem {
  position: absolute;
  height: tokens.getCalculatedValue("", "base", 10);
  bottom: tokens.getCalculatedValue("", "space", 3);
  right: tokens.getCalculatedValue("", "space", 3);
  text-align: right;
  z-index: 2;

  animation: emblem-fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
}

.c-logotype--emblem-small {
  height: tokens.getCalculatedValue("", "base", 5);
}

@keyframes emblem-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}