// ***************************************************************
// *** Theme specific
// ***************************************************************
@use 'transitions';
@use 'wp';
@use 'print';
@use 'generic';
@use 'search';
@use 'search-modal';
@use 'slider';
@use 'page';
@use 'article';
@use 'nav';
@use 'comments';
@use 'archive';
@use 'footer';
@use 'event';
@use '404' as E404;
@use '403' as E403;
@use '401' as E401;
@use 'embed';
@use 'emblem';
@use 'blocks';
@use 'image';
@use 'page-title';
@use 'a11y';
@use 'hero';

@use 'navigation/header';
@use 'navigation/header-business';
@use 'navigation/header-casual';
@use 'navigation/header-flexible';
@use 'navigation/quick-links';
@use 'navigation/accessibility';
@use 'navigation/language';
@use 'navigation/collapsible-search';
@use 'navigation/user';
@use 'navigation/toc';


.u-mr-auto {
    margin-right: auto;
}

.u-ml-auto {
    margin-left: auto;
}

//Temp Fix 
main .c-sidebar .c-sidebar__subcontainer--top {
    padding: 0;
}

.c-typography.module-title {
    margin-bottom: calc(var(--space) * 3);
    margin-top: calc(var(--space) * 3);
}

div:first-child>.module-title {
    margin-top: 0;
}
