.nav-helper {
    width: 100%;
    margin-top: calc(var(--base) * 2);
    margin-bottom: calc(var(--base) * 2);
    container-name: nav-helper;
    container-type: inline-size;

    &__container {display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
        gap: calc(var(--base) * 2);
        width: 100%;

        @container nav-helper (min-width: 400px) {
            flex-direction: row;
            gap: 0;
        }

        @container nav-helper (min-width: 670px) {
            margin-top: calc(var(--base) * 4);
            margin-bottom: calc(var(--base) * 4);
            align-items: start;

            .c-breadcrumb {
                align-self: center;
            }
        } 
    }
}

@media print {
    .nav-helper {
        display:none;
    }
}
