.t-search-modal {
  .t-search-modal__label {
    color: #fff;
  }

  .c-modal__content {
    container-name: search-modal;
    container-type: inline-size;
    margin: auto;
    padding: 0;
    width: clamp(320px, 80%, 500px);
  }

  &__form {
    padding: calc(var(--space) * 2);
    display: grid;
    grid-template-areas: 
      "label"
      "field"
      "submit";
    gap: calc(var(--space) * 1.5) 0;
  }

  &__label {
    grid-area: label;
  }

  &__field {
    grid-area: field;

    .c-field__inner {
      border: none;
      height: 100%;
    }
  }

  &__submit {
    grid-area: submit;
  }

  .t-search-modal__form {
    grid-template-areas: 
      "label"
      "field"
      "submit";
  }

  .t-search-modal__submit {
    grid-area: submit;
  }

  @container search-modal (min-width: 400px) {
    .t-search-modal__form {
      grid-template-areas: 
        "label label"
        "field submit";
        grid-template-columns: 1fr auto;
    }

    .t-search-modal__submit {
      grid-area: submit;
    }

    .t-search-modal__field,
    .t-search-modal__field * {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .t-search-modal__submit {
      border-left: 1px solid #00000012;
    }

    .t-search-modal__submit,
    .t-search-modal__submit * {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}