@use "@helsingborg-stad/styleguide/source/sass/setting/variables";

$t-search-modal-breakpoint: 600px;

.t-search-modal {
  .t-search-modal__label {
    color: #fff;
  }

  .c-modal__content {
    margin: auto;
    padding: 0;
    width: clamp(320px, 80%, 500px);
  }

  &__form {
    padding: calc(variables.$base * 2);
    display: grid;
    grid-template-areas: 
      "label"
      "field"
      "submit";
    gap: calc(variables.$base * 1.5) 0;

    > * {
      filter: variables.$drop-shadow-2;
    }
  }

  &__label {
    grid-area: label;
  }

  &__field {
    grid-area: field;

    .c-field__inner {
      border: none;
    }
  }

  &__submit {
    grid-area: submit;
  }

  // Media query for screens smaller than the breakpoint (450px)
  @media (max-width: $t-search-modal-breakpoint) {
    .t-search-modal__form {
      grid-template-areas: 
        "label"
        "field"
        "submit";
    }

    .t-search-modal__submit {
      grid-area: submit;
    }
  }

  @media (min-width: calc($t-search-modal-breakpoint + 1px)) {
    .t-search-modal__form {
      grid-template-areas: 
        "label label"
        "field submit";
        grid-template-columns: 1fr auto;
    }

    .t-search-modal__submit {
      grid-area: submit;
    }

    .t-search-modal__field,
    .t-search-modal__field * {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .t-search-modal__submit {
      border-left: 1px solid #00000012;
    }

    .t-search-modal__submit,
    .t-search-modal__submit * {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }


    .t-search-modal__field,
    .t-search-modal__field * {
      border-top-left-radius: variables.$border-radius-sm;
      border-bottom-left-radius: variables.$border-radius-sm;
    }

    .t-search-modal__submit,
    .t-search-modal__submit * {
      border-top-right-radius: variables.$border-radius-sm;
      border-bottom-right-radius: variables.$border-radius-sm;
    }
  }
}