/* =WordPress Core
-------------------------------------------------------------- */

[class*="wp-image-"] {
  display: block;
  width: auto;
  border-radius: 2px;
}

.admin-bar [class*="--sticky"] {
  top: 32px; 
}