@use 'config/z-index' as *;

@use 'mixin/gradient';

@use 'general/admin-menu';

@use 'partials/form';
@use 'partials/table';
@use 'partials/tabs';
@use 'partials/modules';
@use 'partials/editor';
@use 'partials/modal';
@use 'partials/loader-takeover';
@use 'partials/utilities';
@use 'partials/spinner';
@use 'partials/module-fields';
@use 'partials/spacer';

[class*="modularity-mod-"],
[class*="mod-"] {
    position: relative;

    .modularity-edit-module {
        display: none;
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        z-index: $level-top;
    }

    .modularity-edit-module a {
        position: relative;
        display: inline-block;
        padding: 5px 10px;
        background-color: #000;
        color: #fff !important;
        font-size: 14px;
        text-align:center;
        white-space: nowrap;

        &::after {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            content: '';
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;

            border-top: 5px solid #000;
        }
    }

    &:hover {
        > .modularity-edit-module {
            display: block;
        }
    }
}

.modularity-preview-hidden {
    position: relative;
    opacity: .5;
    transition: 500ms all;

    &::after {
        display: block;
        font-family: dashicons;
        font-size: 10rem;
        line-height: 1;
        content: "\f530";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        background-color: #fff;
        border-radius: 50%;
        padding: 15px;
        height: 200px;
        width: 200px;
        opacity: 1;
        transition: 500ms opacity,
                    300ms transform;
        border: 5px solid currentColor;
        z-index: 1;
    }

    &:hover,
    &:focus {
        opacity: 1;

        &::after {
            opacity: 0;
            transform: translate(-50%, -50%) scale(0);
        }
    }
}

.block-editor__container .gutenberg-hidden {
    display: none;
}