html {
    background: transparent;
    background: none;
    padding: 5%;
}

html.wp-toolbar {

}

#wpbody-content {
    padding-bottom: 0;
}

#wpadminbar,
#adminmenumain,
#wpfooter,
#screen-meta-links {
    display:none;
}

.auto-fold #wpcontent,
.auto-fold #wpfooter {
    margin-left: 0;
}

.bulkactions {
    display: none;
}

.page-title-action {
    display: none;
}

.row-actions {
    display: none;
}
