.c-textarea textarea {
    min-height:40px;
    padding-bottom: 24px;
}
.comment {

    &--actions {
        padding-bottom: 24px;
        padding-top: 8px;
        position: relative;
    }

    &--likes {
        padding-left: 8px;
    }
    &--likes-answer {
        padding-left:48px;
    }


    .comment--likes {
        position: relative;
        top:16px;
        float:right;

        .like-button {
            position: relative;
            top: -2px;
            right: -8px;

            &.active i {
                color: #ae0b05;
            }

            i:hover {
                color: #ae0b05;
            }

            &.active i:hover {
                color: #000;
            }
        }

        span {
            position: relative;
            right: 10px;
            font-weight:bold;
        }

    }


    .c-comment__date {
        align-self: flex-end;
        margin-left: 12px;

    }

}