.c-article {
    padding: 32px 80px;

    p {
        max-width: 95ch;
    }

    &__feature-image {
        margin-bottom: 40px;
    }

    .c-signature .c-avatar--size-sm {
        top:30px;
    }

    .c-signature__updated {
        margin-top:0;
    }

    .c-signature__title {
        margin-top:4px;
        font-style: italic;
    }

}