.block-editor-block-list__layout {
    display: flex; 
}

.t-block-button {
    display: flex; 

    .block-editor-inner-blocks,
    .block-editor-block-list__layout {
        display: flex;
    }
}

.t-block-container {

    &.t-block-align {

        &-left,
        &-center,
        &-right {
            display: flex;
        }

        &-left {
            justify-content: left;
        }

        &-center {
            justify-content: center;

        }

        &-right {
            justify-content: right;

        }

        &-full {
            position: relative;
            width: 100vw; 
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
        }
    }
}