.c-textarea textarea {
    min-height:40px;
    padding-bottom: 24px;
    max-width: 815px;
}

.comment {
    margin-top: 40px;
    #submit {
        cursor:pointer;
    }

    #respond {
        padding-bottom:20px;
    }

    .parent, .child {
        clear:both;
    }

    .child {
        padding-left: 18px;
    }

    .c-typography__variant--body {
        width: 100%;
        margin:0px 0px 8px 0px;
    }

    &__conversation {
        max-width: 954px;
        position: relative;
        width: 100%;
        padding: 0 57px;
    }

    .c-comment__top {
        padding-bottom: 0px;
    }

    &--likes {
        padding-left: 8px;
    }

    .comment--likes {

        position: absolute;
        right:60px;

        .like-button {
            position: relative;
            top: -2px;
            right: -8px;

            &.active i {
                color: #ae0b05;
            }

            i:hover {
                color: #ae0b05;
            }

            &.active i:hover {
                color: #000;
            }
        }
    }

}
