.comment {

    &--actions {
        padding-bottom: 24px;
        padding-top: 8px;
        position: relative;
    }

    &--likes {
        padding-left: 8px;
    }

    &--likes-icon {
        position:relative;
        top:2px
    }


}