.comment-respond {
    position: relative;
}

.comment-respond .cancel-comment-reply-link {
    position: absolute;
    top: calc(var(--base, 8px) * 2); 
    right: calc(var(--base, 8px) * 3);
    z-index: $level-1;
    display: none;
}

.comment__conversation {
    display: flex;
    flex-direction: column;
    gap: calc(var(--base, 8px) * 2);
}

.comment__conversation .comment-respond .cancel-comment-reply-link {
    display: flex;
}

