.modularity-mod-player {
    overflow: hidden;
    position: relative;
    height: 0;

    &.modularity-mod-player__ratio--16-9 {
        padding-bottom: 56.25%;
    }

    iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}