.c-logotype--emblem {
  position: absolute;
  height: calc(#{$base} * 10);
  bottom: calc(#{$base} * 3);
  right: calc(#{$base} * 3);
  text-align: right;
  z-index: $level-2;

  animation: emblem-fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
}

@keyframes emblem-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}