.site-footer {
    padding-top: $base * 4;
    padding-bottom: $base * 4;
}

.site-footer .site-footer__logo {
    max-width: $base * 34;
}

.site-footer {
    ul.menu {
        @include unlist();
        padding: 0;
        margin: 0;
    }
}