// content - characters per row
// https://en.wikipedia.org/wiki/Line_length
// Longest - 95 CPL
//--------
p {
    max-width: 95ch;
}

img:is([sizes="auto" i], [sizes^="auto," i]) {
    contain-intrinsic-size: auto !important;
    contain-intrinsic-width: 100% !important;
    contain-intrinsic-height: auto !important;
}

p.form-submit {
    max-width: unset;
}

.g-divider {

    border-style: solid;

    &--lg {
        width: 100%;
        margin-top: 24px;
        margin-bottom: 24px;
    }

}

// Hides the google captcha badge.
.grecaptcha-badge {
    visibility: hidden;
}
