body {
    background-color: #fcfcfc;
}

// content - characters per row
// https://en.wikipedia.org/wiki/Line_length
// Longest - 95 CPL
//--------
p {
    max-width: 95ch;
}

p.form-submit {
    max-width: unset;
}

.g-divider{
    
    border-style: solid;
    
    &--lg{
        width: 100%;
        margin-top:24px;
        margin-bottom:24px;
    }

}

// Hides the google captcha badge.
.grecaptcha-badge { visibility: hidden; }
