// ***************************************************************
// *** Settings
// ***************************************************************


@import "~@helsingborg-stad/styleguide/source/sass/setting/variables";

// ***************************************************************
// *** Functions
// ***************************************************************
@import "~@helsingborg-stad/styleguide/source/sass/function/strip-unit";
@import "~@helsingborg-stad/styleguide/source/sass/function/em";
@import "~@helsingborg-stad/styleguide/source/sass/function/rem";
@import "~@helsingborg-stad/styleguide/source/sass/function/px";
@import "~@helsingborg-stad/styleguide/source/sass/function/breakpoint-suffix";
@import "~@helsingborg-stad/styleguide/source/sass/function/next-breakpoint";
@import "~@helsingborg-stad/styleguide/source/sass/function/get-color";
@import "~@helsingborg-stad/styleguide/source/sass/function/remove-list-item";
@import "~@helsingborg-stad/styleguide/source/sass/function/validate-breakpoint-list";
@import "~@helsingborg-stad/styleguide/source/sass/function/mix-color-style-functions";
@import "~@helsingborg-stad/styleguide/source/sass/function/legacy-direction";
@import "~@helsingborg-stad/styleguide/source/sass/function/is-direction";
@import "~@helsingborg-stad/styleguide/source/sass/function/append-important";
@import "~@helsingborg-stad/styleguide/source/sass/function/heading";
@import "~@helsingborg-stad/styleguide/source/sass/function/string-replace";


// ***************************************************************
// *** Mixins
// ***************************************************************
@import "~@helsingborg-stad/styleguide/source/sass/mixin/mq";
@import "~@helsingborg-stad/styleguide/source/sass/mixin/responsive-styles";
@import "~@helsingborg-stad/styleguide/source/sass/mixin/psuedo";
@import "~@helsingborg-stad/styleguide/source/sass/mixin/ratio";
@import "~@helsingborg-stad/styleguide/source/sass/mixin/cover";
@import "~@helsingborg-stad/styleguide/source/sass/mixin/center";
@import "~@helsingborg-stad/styleguide/source/sass/mixin/size";
@import "~@helsingborg-stad/styleguide/source/sass/mixin/shadow";
@import "~@helsingborg-stad/styleguide/source/sass/mixin/button";
@import "~@helsingborg-stad/styleguide/source/sass/mixin/list";
@import "~@helsingborg-stad/styleguide/source/sass/mixin/paper";
@import "~@helsingborg-stad/styleguide/source/sass/mixin/gradient";
@import "~@helsingborg-stad/styleguide/source/sass/mixin/arrow";
@import "~@helsingborg-stad/styleguide/source/sass/mixin/build-utility";
@import "~@helsingborg-stad/styleguide/source/sass/mixin/animations/slide";
@import "~@helsingborg-stad/styleguide/source/sass/mixin/animations/scale-up";
@import "~@helsingborg-stad/styleguide/source/sass/mixin/animations/fade-in";
@import "~@helsingborg-stad/styleguide/source/sass/mixin/stretch";


// ***************************************************************
// *** Theme specific
// ***************************************************************
@import 'transitions';
@import 'wp';
@import 'print';
@import 'generic';
@import 'search';
@import 'search-modal';
@import 'slider';
@import 'page';
@import 'article';
@import 'nav';
@import 'comments';
@import 'archive';
@import 'footer';
@import 'event';
@import '404';
@import '403';
@import '401';
@import 'embed';
@import 'emblem';
@import 'blocks';
@import 'image';
@import 'page-title';
@import 'a11y';

@import 'navigation/header';
@import 'navigation/header-business';
@import 'navigation/header-casual';
@import 'navigation/header-flexible';
@import 'navigation/quick-links';
@import 'navigation/accessibility';
@import 'navigation/language';
@import 'navigation/collapsible-search';
@import 'navigation/user';
@import 'navigation/toc';


.u-mr-auto {
    margin-right: auto;
}

.u-ml-auto {
    margin-left: auto;
}

//Temp Fix 
main .c-sidebar .c-sidebar__subcontainer--top {
    padding: 0;
}

.c-typography.module-title {
    margin-bottom: calc(#{$base} * 3);
    margin-top: calc(#{$base} * 3);
}

div:first-child>.module-title {
    margin-top: 0;
}
