.mce-content-body {
  margin: 16px 32px;
  max-width: 75ch;
  background: #fff;
}

.wp-block {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.editor-styles-wrapper {
  padding: 0 !important;
}

.entry-content>[class*="wp-block-"]:not(:last-child) {
  margin-bottom: 1.5rem;
}