.nav-helper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: calc(#{$base} * 2);
    margin-bottom: calc(#{$base} * 2);
    align-items: start;

    @include mq('md') {
        margin-top: calc(#{$base} * 4);
        margin-bottom: calc(#{$base} * 4);
    }  
}

@media print {
    .nav-helper {
        display:none;
    }
}
