@media print {

    @page {
        size: auto;
    }

    *,
    *:before,
    *:after {
        color: #000 !important; // Black prints faster: h5bp.com/s
        text-shadow: none !important;
        box-shadow: none !important;
    }

    // Typography
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    // Links
    a,
    a:visited {
        text-decoration: underline;
        color: #2e4453;
    }

    a[href]:after {
        content: " (" attr(href) ")";
        font-size: 10pt;
        padding: 16px 0px;
    }

    *:hover {
        background: transparent;
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    // Don't show links that are fragment identifiers,
    // or use the `javascript:` pseudo protocol
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    // Blocks
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    // breaks
    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    // header
    .site-header {
        margin-bottom: 16px;
        margin-top: -16px;
        height: 100px;

        a:after {
            display: none;
        }
    }

    #site-footer, img {
        display: unset;
        overflow: visible;
        page-break-before: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
        break-before: avoid;
    }

    .site-wrapper {
        color-adjust: exact;
    }

    .o-container div {
        margin-bottom: 0px;
    }

    footer,
    #customer-feedback,
    #_hjRemoteVarsFrame,
    .vngage-banner,
    .c-signature,
    .modularity-edit-module,
    .modularity-edit-module:before,
    .modularity-edit-module:after,
    .modularity-edit-module a,
    .modularity-edit-module a:before,
    .modularity-edit-module a:after,
    .modularity-mod-player__wrapper,
    .menu-sidfotsmeny-container {
        display: none !important;
    }




}
