.t-toast {
  position: fixed;
  margin: calc(#{$base} * 2);
  display: grid;
  gap: calc(#{$base} * 1); // Space between toasts
  z-index: 1000;

  &.t-toast--top {
    top: 0;
  }

  &.t-toast--bottom {
    bottom: 0;
  }

  &.t-toast--left {
    left: 0;
  }

  &.t-toast--right {
    right: 0;
  }

  .t-toast__notice {
    opacity: 0;
    transform: translateY(calc(#{$base} * 3));
    animation: slide-in 0.3s ease-out forwards, fade-out 0.5s ease-in 4s forwards;

    @for $i from 2 through 10 {
      &:nth-child(#{$i}) {
        $delay: ($i - 1) * 0.3s; // Calculate the delay
        animation-delay: $delay, (4s + $delay); // Set the two delays
      }
    }
  }

  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(calc(#{$base} * 3));
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(calc(#{$base} * -3));
    }
  }
}