name: Build assets and create a release on version tags

on:
  push:
    tags:
      - 'v*.*.*'
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3


    - uses: actions/setup-node@v3
      with:
        node-version: '24.6'

    - name: Setup PHP with composer v2
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'
        tools: composer:v2

    - name: Inject access token in .npmrc
      run: | 
        echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" >> ~/.npmrc

    - name: Run full build.
      run: php ./build.php --cleanup

    - name: Cleanup .npmrc
      run: rm ~/.npmrc

    - name: Archive Release
      uses: thedoctor0/zip-release@master
      with:
        type: zip
        filename: 'full-release.zip'

    - name: Get latest release version
      id: get-version
      run: |
        echo "LATEST_RELEASE=$(curl -s https://api.github.com/repos/${{ github.repository }}/releases/latest | jq -r '.tag_name')" >> $GITHUB_ENV

    - name: Upload release
      uses: helsingborg-stad/upload-artifact@1.0.0
      with:
        artifact: "full-release.zip"
        gh_token: ${{ secrets.GITHUB_TOKEN }}
        release: ${{ env.LATEST_RELEASE }}
        repo: ${{ github.repository }}
        artifact_mime_type: application/zip
        
